[2017-04-13 06:33] hamishwillee opened #1 "Flying 101 needs to cover takeoff and landing"
We have en/flying/basic_flying.html, which explains the movement commands. We need to have sections on takeoff and landing

[2017-04-13 06:34] hamishwillee opened #2 "Compatible RC Systems needs info about other boards than Pixhawk"
getting_started/rc_transmitter_receiver.md covers what an RC system is, and provides compatibility information for Pixhawk/PX4.

We need to clarify if the compatibility is independent of the board or not. Ie will the same receivers work on every board or will some not have the necessary ports? Similarly, even if a port is present, is there work that needs to happen in PX4 to add support on a parti

[2017-04-13 06:35] hamishwillee opened #3 "Need VTOL Config for Tiltrotor and Tailsitter"
We have /en/config/vtol_quad_configuration.html which describes how you tune and configure a quadplane. We need to have similar (or extend this) so that it covers tuning/parameters for the other forms of VTOL vehicle.

[2017-04-13 06:43] hamishwillee opened #4 "Update docs on take off and landing modes"
Discussion/information here: https://github.com/PX4/Firmware/issues/7028

[2017-04-19 04:18] hamishwillee opened #8 "Import build logs from devguide and pixhawk.org"
Build logs should be in the user guide. There are a bunch of duplicates: https://pixhawk.org/platforms/start
and below "Airframes" ([above here](https://dev.px4.io/en/airframes-multicopter.html))

[2017-05-11 10:04] hamishwillee opened #15 "Update Aero branding"
As per: https://github.com/PX4/Devguide/pull/146

[2017-05-18 00:07] hamishwillee opened #16 "Add Snapdragon build log"
We have build log from test team, but need to confirm whether there are better sets of information to post. Question is with Mark Charlebois

[2017-05-18 00:09] hamishwillee opened #17 "Add VTOL venturi-fpv-wing build log"
Supplied by Abimael. Needs to be formatted and added

[2017-05-24 00:02] hamishwillee opened #19 "Fix up autopilot hardware and flightcontroller sections"
1. We need to provide users with information to make it easy for them to make a decision about what flight controller to use.
   - Currently this is [Flight Controller Selection](https://docs.px4.io/en/getting_started/flight_controller_selection.html).
   - This needs a lot of work. It currently is a history less on on pixhawk, which is not particularly useful + a little on snapdragon etc.
   - Mo

[2017-05-24 00:20] hamishwillee opened #20 "Doc Bug: Flying 101 · PX4 User Guide"
The actual steps for takeoff, particularly in FW are not clear. So for example this says that you "use this mode" but it would be better as steps:
1. Switch to mode XXXX
1. Arm vehicle (usually be engaging the arming switch)
1. What next? In MC you can switch to takeoff mode. For FW you should AFAIK just select the takeoff mode. What about for catapult or hand launch? I think you need to put into

[2017-06-19 07:35] hamishwillee opened #25 "Need section on additional radio setup"
Add as a section/step at the end of https://docs.px4.io/en/config/radio.html

Need info from @DonLakeFlyer

[2017-07-05 05:28] hamishwillee commented on #25
This was done.

[2017-07-05 05:28] #25 closed

[2017-08-07 06:32] hamishwillee opened #43 "Useful to have separate doc about Telemetry radios"
There is no separate doc on this topic. Would be useful to outline options here for makers and people who are getting started
- options - wifi vs radio
- configuration details, if any

All we have now is stuff in wiring guides: https://docs.px4.io/en/assembly/quick_start_pixhawk.html#telemetry-radios-optional

[2017-08-18 00:47] jeffstreet opened #54 "Doc Bug: Full Parameter Reference · PX4 User Guide · FW_PSP_OFF Description"
FW_PSP_OFF description currently says:

The word "speed" might be replaced with:

A similar change could be made to the description of FW_RSP_OFF by replacing "speed" with "roll angle".

Bug Page: [Full Parameter Reference · PX4 User Guide](https://docs.px4.io/en/advanced_config/parameter_reference.html)

[2017-08-18 00:51] hamishwillee commented on #54
Hi Jeff, can you please repost in PX4/Firmware repo? This information is generated from markup in source code.

[2017-08-24 00:56] hamishwillee opened #57 "Doc Bug: VTOL Airframes doc should not contain config params section"
Bug Page: [VTOL · PX4 User Guide](https://docs.px4.io/en/frames_vtol/#key-configuration-parameters)

The section on key configuration parameters in the VTOL Airframes section  really belongs in [VTOL configuration section ](https://docs.px4.io/en/config_vtol/) (as per this comment https://github.com/PX4/px4_user_guide/pull/52#pullrequestreview-56851118)

- Need help to confirm where it should go i

[2017-10-11 10:59] nicolaerosia opened #75 "Multicopter PID Tuning Guide review"
Hello,

I'm trying to understand the [Multicopter PID Tuning Guide](https://docs.px4.io/en/advanced_config/pid_tuning_guide_multicopter.html) and I have some questions:

**"Set all MC_XXX_P to zero (ROLL, PITCH, YAW)"** if these parameters do what they advertise, I don't understand how this will work since they will output 0.
_"The gains actually have an intuitive meaning, e.g.: if the MC_ROLL_P g

[2017-10-13 00:17] hamishwillee commented on #75
@nicolaerosia

This is a *preparation step* ("Step 1: Preparation") - so essentially you're setting everything to a nothing state before you start tuning each of the individual values. So yes, you're right, but it is intentional.

The rest of the questions seem reasonably and I certainly can't answer. While I hope @dagar will answer them, can you please raise them here: http://discuss.px4.io/c/mul

[2017-10-13 03:17] dagar commented on #75
Yes manual/stabilized

**How can I see the roll and pitch rates? what about setpoint? Are we still in the situation where I keep the drone in my hand, titled, with 50% throttle ?**
In flight you can use QGC analyze and plot ATTITUDE (http://mavlink.org/messages/common#ATTITUDE) and ATTITUDE_TARGET (http://mavlink.org/messages/common#ATTITUDE_TARGET).

Offline with a .ulg see vehicle_rates_setpoint

[2017-10-15 23:53] hamishwillee opened #77 "Add description of each of the airframe types"
There was some useful discussion about the quad-H docs [here](https://px4.slack.com/archives/C629RE9H7/p1507790928000065) but no obvious place to put it.

Action is to find a place to put this sort of information - perhaps [Multicopters · PX4 User Guide](https://docs.px4.io/en/frames_multicopter/) or the Airframe Reference, and to work with team to populate key information about benefits issues wi

[2017-10-16 01:14] hamishwillee commented on #75
@dagar As above "....Are we still in the situation where I keep the drone in my hand, titled, with 50% throttle ?"

Or to put it another way the only instruction in the doc about where you have the vehicle and how much you have it powered is that one above. Does that mean that ALL tuning is done with that situation. IF not, which sections do you do something else in, and what is it you do?

[2017-10-16 01:31] hamishwillee commented on #75
So I've partially fixed this in #78. @nicolaerosia and @dagar please check it is improved (not completely done!). Still waiting on answers to above.

[2017-10-18 23:52] hamishwillee commented on #75
@dagar Ping on https://github.com/PX4/px4_user_guide/issues/75#issuecomment-336756696

Is all testing done with  drone in hand, tilted, with 50% throttle ?" If not, in what steps is this changed, and how?

[2017-11-07 00:55] hamishwillee commented on #8
DevGuide import done. Logs from pixhawk.org still under discussion.

[2017-11-07 14:21] dagar commented on #75
I'm not sure what the best answer is, but no, after that I'd actually start hovering.

[2017-11-07 22:41] hamishwillee commented on #75
OK, so following your response and re-reading this, it sounds like all the tuning except [feed forward tuning](https://docs.px4.io/en/advanced_config/pid_tuning_guide_multicopter.html#feed-forward-tuning) kind of needs to be done in the hand so that you can change orientation as indicated. Once tuning complete the rest of testing can be done in hover.

So I will leave this as is. Issue closed :-)

[2017-11-07 22:41] #75 closed

[2017-11-09 23:46] hamishwillee opened #91 "Take off and landing docs need to be updated"
https://docs.px4.io/en/flying/basic_flying.html#takeoff-and-landing

The   LNDMC_POS_UPTHR and equivalent downthr have been removed.

[2017-11-09 23:48] hamishwillee commented on #57
This was fixed. Config is in tuning guide.

[2017-11-09 23:48] #57 closed

[2017-11-10 00:18] hamishwillee commented on #15
Done. Tidied as part of https://github.com/PX4/px4_user_guide/pull/92/commits/9d81280eff43e288a5cafbff81043ae0a7e0c821

[2017-11-10 00:18] #15 closed

[2017-11-10 00:18] hamishwillee commented on #4
This has been done.

[2017-11-10 00:18] #4 closed

[2017-11-10 00:19] hamishwillee commented on #1
Done.

[2017-11-10 00:19] #1 closed

[2017-11-10 00:33] hamishwillee commented on #54
This has been cross posted to the right place.

[2017-11-10 00:33] #54 closed

[2017-11-10 00:39] hamishwillee commented on #19
This has been fixed. All the flight controllers now live in the user guide and are sensibly cross linked.

[2017-11-15 22:21] hamishwillee opened #96 "Add takeoff information to altitude and position control mode docs"
For altitude and position mode, multicopter, add not about what counts as "takeoff"/how to takeoff.

The line to add is something along the lines of:

Origin of discussion is here: https://github.com/PX4/Devguide/pull/346#discussion_r151011496

[2017-11-15 22:23] hamishwillee commented on #96
@dagar The statement "The vehicle will take off if the stick is raised above 62.5% percent." is true (it is hard coded) but what does this % refer to?

I THINK that it refers to the full range from the throttle stick bottom position. So in effect, to just above the large dead zone in the middle. Would that be correct?

[2017-11-17 06:17] dagar commented on #96
Yes it's the full range starting from the bottom. It makes more sense when the throttle stick is spring loaded and centers itself.

[2017-11-20 04:28] hamishwillee opened #100 "Fix up precision land flight mode parameters"
[Precision land](https://docs.px4.io/en/advanced_features/precland.html) was merged in #98 and updated in #99. As part of that the parameters were linked to the full parameter reference. But ...

@ndepal None of the parameters mentioned appear in the [parameter reference](https://docs.px4.io/en/advanced_config/parameter_reference.html) - e.g. LTEST_MODE, LTEST_SCALE_X, LTEST_SCALE_Y etc.

Can we g

[2017-11-20 09:16] ndepal commented on #100
I'm not sure what is required for the parameters to show up there.
I'm guessing one criterion is that the code needs to be in master, which it is no yet.
If the param reference is not generated from the `prarams.c`, please let me know what needs to be added.

[2017-11-20 09:54] hamishwillee commented on #100
My fault - this should not be merged until in master. At that point the parameters if present should get picked up. I vote we look at this again once this is merged. IN the meantime I added a note on the topic so people won't try and use it yet!

[2017-12-04 22:18] hamishwillee opened #107 "Add content for LeddarOne lidar"
When it is merged.
As per https://github.com/PX4/Firmware/pull/8409#issuecomment-349124711

[2017-12-05 08:26] hamishwillee opened #108 "Verify/add additional telemetry modems in pixhawk.org"
As per https://github.com/PX4/px4_user_guide/pull/106#issuecomment-349150302 there are some additional modems listed in : https://pixhawk.org/peripherals/radio-modems/start - e.g. Xbee.

The action here is to verify if they are supported, and if so, what configuration is required. Then add to the telemetry section

[2017-12-06 00:19] hamishwillee opened #113 "UPdate relevant docs on how to find out if a serial port is being used"
From https://github.com/PX4/px4_user_guide/pull/111#discussion_r155111640

A way to check if serial port is in use is run:
[code]
in the nuttx terminal and check what is the port of every stream.

This would be useful to add in ulanding and leddarone docs above where we say "If you are connecting the radar device to TELEM2 then make sure to set the parameter SYS_COMPANION to 0. ..." as a more gene

[2017-12-07 06:14] hamishwillee opened #116 "Lightware SFxx Lidar needs diagram showing how to connect to serial"
Bug Page: [Lightware SFxx Lidar · PX4 User Guide](https://docs.px4.io/en/sensor/sfxx_lidar.html)

[2017-12-30 18:01] LorenzMeier opened #122 "Need a page that explains how to find a parameter"
@hamishwillee Here is the image for it. Just need a central page for this and general settings. Then we can reference statements like "set parameter ABC to 1.0" to that page.

<img width="1120" alt="find_param" src="https://user-images.githubusercontent.com/1208119/34456315-af31bafe-ed93-11e7-8e6a-02f369be5601.png">

[2018-01-03 01:32] hamishwillee opened #125 "Takeoff documentation changes for PX4 1.8"
Probably ....
See https://github.com/PX4/Firmware/pull/8020#issuecomment-354687559

[2018-01-03 05:07] hamishwillee commented on #122
The [parameters doc](https://docs.qgroundcontrol.com/en/SetupView/Parameters.html) in QGC should be usable for this purpose but is a bit out of date. I've updated it (https://github.com/mavlink/qgc-user-guide/pull/125) and I'll cross post with minor modification into the user guide.

[2018-01-03 05:48] hamishwillee commented on #122
Addressed by #126

[2018-01-07 22:55] hamishwillee opened #127 "FW: RTL use mission landing"
See https://github.com/PX4/Firmware/pull/8487#issuecomment-355589481

@Antiheavy has volunteered to do first cut of docs

[2018-01-08 22:03] priseborough opened #128 "Missing information in setup and sensor calibration procedure"
Documentation for the setup and sensor calibration procedure is not providing the following information:

- Magnetometer calibration should be done with usb disconnected and the vehicle in a flight configuration and failure to do this can result in a  "mag sensors inconsistent" error. This is a particular problem with the pixracer where USB connection can produce large levels of magnetic interfere

[2018-01-09 04:28] hamishwillee commented on #128
Please confirm:
1.  the user would have to have telemetry radio of some kind as the only way to connect to QGC to perform the calibration? That sounds like a bit of a limitation.
2. When you say "vehicle in a flight configuration" what do you mean? What other configuration can it be in?

For this one proposal is to update https://docs.px4.io/en/config/compass.html putting connection requirements i

[2018-01-09 04:33] hamishwillee commented on #128
When/what sensors would you do this for? I assume this is primarily for the case of magnetometers where you can have poorly behaving internal compasses that you can't remove so you want to disable them? (presumably you could just remove a badly behaving external compass).

What other sensors might this apply to?

If this is just general advice, perhaps we should create some sort of calibration tro

[2018-01-09 04:42] hamishwillee commented on #128
Sounds useful.

1. Is there any information on how the comparison data might be used/interpreted?
2. I don't think this should live inside the basic configuration topics/section, but could perhaps be in a troubleshooting section and linked from them. Maybe we should extend https://dev.px4.io/en/debug/sensor_uorb_topic_debugging.html in the devguide to be more generic (i.e. cover this option to?)

[2018-01-29 23:31] hamishwillee opened #136 "Precision Landing - EKF2's auxiliary velocity aiding"
Need to update  [Precision Landing · PX4 User Guide](https://docs.px4.io/en/advanced_features/precland.html) with information about EKF2's auxiliary velocity aiding (added after the docs were created).

Originates from https://github.com/PX4/Firmware/pull/8676#issue-288384578

@mhkabir Assigned to you in first case. OK?

[2018-01-30 05:58] hamishwillee opened #137 "Add docs for Mission RTL"
Mission RTL (in progress) documented here: https://github.com/PX4/Firmware/pull/8749

Add docs for it - probably here [Return (RTL)](https://docs.px4.io/en/flight_modes/return.html) (PX4 User Guide) and/or cross linked to the Mission/Auto mode (depending on how it looks when done).

[2018-01-30 09:01] ndepal commented on #136
See https://github.com/PX4/px4_user_guide/pull/132

[2018-01-30 22:19] hamishwillee commented on #136
Thanks. Merged and closed!

[2018-01-30 22:19] #136 closed

[2018-02-08 00:29] hamishwillee opened #144 "LeddarOne startup instructions need to be updated"
Following this change: https://github.com/PX4/Firmware/pull/8409#issuecomment-363631824

[2018-02-13 00:05] hamishwillee opened #146 "PX4 Basic Concepts > Headings and Directions > Multicopter diagram"
[PX4 Basic Concepts > Headings and Directions](https://docs.px4.io/en/getting_started/px4_basic_concepts.html#heading-and-directions)

Local reference frame in the quadcopter image is wrong. According to the right hand rule, the light blue y-axis should point in the ‘east’ direction if we are following NED convention.

![image](https://user-images.githubusercontent.com/5368500/36126651-91688e02-10

[2018-02-13 01:48] hamishwillee opened #151 "Multicopter PID Tuning Guide > Motor band limiting - what is lower side"
[Multicopter PID Tuning Guide > Motor band limiting](https://docs.px4.io/en/advanced_config/pid_tuning_guide_multicopter.html#motor-band--limiting)

Where it says:
"If one of the rotors leaves this safety band, the total thrust of the system is lowered so that the relative percentage that the controller did output can be satisfied. As a result the multi rotor might not climb or lose altitude a bit

[2018-02-13 02:00] hamishwillee opened #152 "What are the different SYS_COMPANION modes"
See https://docs.px4.io/en/advanced_config/parameter_reference.html#SYS_COMPANION

There are a bunch of modes - e.g.  OSD, Command Receiver, Companion Link, Crazyflie , ESP8266 ,Iridium

What are each of these modes for, and how do they differ (ie what do they send)? Is there any missing documentation associated with them?

[2018-02-13 09:05] bkueng commented on #151
The summary thrust (in Manual/Acro mode, this is directly the throttle stick input), is the commanded total thrust - if that makes sense.
The lower side is towards zero: imagine if you have a roll input on a quad: for example the right 2 motors need to increase thrust, while the left 2 motors need to decrease thrust. This is added/substracted from the the commanded summary thrust, and thus can bec

[2018-02-13 09:22] bkueng commented on #152
Command Receiver: I think this is historic, from a time when not all mavlink instances allowed to receive commands (https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_main.h#L443). Now they all do.

OSD: defines the mavlink stream (set of activated messages & their rates). All the others are for a specific hardware (e.g. ESP8266 for WiFi, the one that is also used on a PixRace

[2018-02-19 09:50] barzanisar commented on #146
@hamishwillee It will be helpful to know who added this diagram in the first place and how he/she created it. I can edit it my way but since I am not a drawing/photoshopping expert, my edited version will look ugly with uneven arrow thickness etc.

[2018-02-19 10:30] hamishwillee commented on #146
@tubeme Did you do the diagrams here: https://docs.px4.io/en/getting_started/px4_basic_concepts.html#heading-and-directions ?

We'd like to make a minor edit, but it would be helpful if you could point us to the drawing package/original versions used?

[2018-02-19 11:45] tubeme commented on #146
Yes I did them. I could do the edit. What should be edited? I can make them right away.

[2018-02-19 15:34] barzanisar commented on #146
According to the right hand rule, the light blue y-axis should point in the ‘east’ direction if we are following NED convention.

[2018-02-19 16:10] tubeme commented on #146
It is pointing to the "east" in this drawing. The problem is that the drawing is looked at the bottom of the quad.

[2018-02-20 14:55] tubeme commented on #146
@hamishwillee @barzanisar Do you need another drawing for the quad despite this one is correct?

[2018-02-20 15:54] barzanisar commented on #146
Ahh now I get it. I couldn't understand the view when I first looked at it. Is it possible to make a top/front view of this diagram like you did with plane and helicopter?

[2018-02-20 18:08] tubeme commented on #146
OK but I have to find a good clip art and correct it. I will post it tomorrow.

[2018-02-20 22:37] hamishwillee commented on #146
Hi @tubeme . Thanks for the clarification/reasoning.

If you are able to find acceptable clipart in the same orientation as the other images that would be better/less prone to confusion. If not, the image is actually correct and we can live with it

Can you please also provide a link to the source of the images you use here so that others can edit in future if needed.

[2018-02-21 12:39] tubeme commented on #146
Here you go.
![frame heading top v2](https://user-images.githubusercontent.com/12617619/36480332-9816f898-1714-11e8-91f1-faa9965dcbf2.png)

![frame heading v2](https://user-images.githubusercontent.com/12617619/36480336-9d5db422-1714-11e8-9198-e1b2206c37e3.png)

And rar with the images
[Heding.zip](https://github.com/PX4/px4_user_guide/files/1743997/Heding.zip)

[2018-02-21 22:17] #146 closed

[2018-02-21 22:18] hamishwillee commented on #146
Thanks @tubeme ! Updated.

[2018-02-21 23:59] tubeme commented on #146
@hamishwillee I made some little corrections in the first image as well.

[2018-02-22 00:13] hamishwillee commented on #146
@tubeme Sorry, didn't see the changes. I've added now in https://github.com/PX4/px4_user_guide/pull/162

[2018-02-22 12:02] tubeme commented on #146
Hey @hamishwillee can you see this page?
http://px4.io/wp-admin/post.php?post=1738&action=edit

This is a draft of a Basic flight modes page from the old users manual. I did not publish it back then because there was constantly changing behaviour in the modes at that time. But anyway I updated it and with some corrections it could fit the current users manual. It has a very nice clip art visualisi

[2018-02-22 12:07] tubeme commented on #146
Here is the preview link.
http://px4.io/?post_type=docit&p=1738&preview=true

[2018-02-22 12:17] tubeme commented on #146
My intent was to have a very simple words explanation about modes. For people that do not have a lot of knowledge ie the novice.

[2018-02-22 12:32] tubeme commented on #146
@hamishwillee I made some corrections in the DOC
[Basic PX4 flight modes II.docx](https://github.com/PX4/px4_user_guide/files/1747833/Basic.PX4.flight.modes.II.docx)

[2018-02-22 22:28] hamishwillee opened #163 "Getting Started Add Flight Mode overview"
Add a lightweight flight modes page here [Getting Started](https://docs.px4.io/en/getting_started/) because it silly to show a Flight modes Setup if you did not provide information about the Flight Modes in advance.

There is a document from @tubeme: [Basic PX4 flight modes II.docx](https://github.com/PX4/px4_user_guide/files/1747833/Basic.PX4.flight.modes.II.docx) (also http://px4.io/?post_type=d

[2018-02-22 22:32] hamishwillee commented on #146
@tubeme I have created issue for this and assigned it to you: https://github.com/PX4/px4_user_guide/issues/163 :-)

The short response is that I am aware of this doc and have been mining it for information as I evolve https://docs.px4.io/en/flight_modes/ and create individual topics like [Takeoff mode](https://docs.px4.io/en/flight_modes/takeoff.html).

The whole getting started needs revisiting,

[2018-02-22 22:33] hamishwillee commented on #163
@tubeme This is assigned to you, as I have been "reprioritised". Hope that is OK? I will add subediting advice.

[2018-02-22 23:47] tubeme commented on #163
ОК I just have NO know knowledge where to edit the doc/page in the new users manual. So please give me some pointers.

[2018-02-23 00:17] hamishwillee commented on #163
OK, there is a guide here: https://dev.px4.io/en/contribute/docs.html

I tend to install the Gitbook toolchain locally - follow the instructions [here](https://toolchain.gitbook.com/setup.html) because that makes it easy to add images etc.

The source itself is in this repo. English versions of files are stored in folders under the en/tree. Images are usually stored in the /assets tree.  Text is w

[2018-02-23 03:02] hamishwillee commented on #152
Thanks very much. The OSD info has been incorporated in a doc. I'm not sure if it is worth following up on Command Receiver (i.e. updating docs to state it is legacy/deprecated?).

Closing for now.

[2018-02-23 03:02] #152 closed

[2018-02-23 03:49] hamishwillee commented on #151
Thanks @bkueng , I'm still confused, but I think it hinges about one point "what is the lower side" - since we haven't been talking about any "higher side" there is no context for me to guess what that is. The explanation "The lower side is towards zero:" doesn't answr that question

Looking at this bit by bit:\

Are you saying that if we have a quad that is rolling, the lower side is the one that

[2018-02-23 09:01] bkueng commented on #151
Yes

You can look at the summary thrust as the average. If you increase the left side by a delta thrust and increase the right side by the same delta, your total thrust stays the same. Maybe this image helps: https://www.intechopen.com/source/html/6587/media/image46.png
PWM is summary thurst. And delta PWM is what you add/substract for the roll command. The important case is if PWM - delta PWM bec

[2018-03-16 10:36] tubeme commented on #163
@hamishwillee Sorry to ask a stupid question but I could not find a way to change the text color. Like to make a text red.

Any ideas?

[2018-03-16 10:54] hamishwillee commented on #163
Yes. Don't.

If you have to, use a `> **Warning**`

If you really have to (you don't), then you can use HTML for this `<span style="color:red;"></span>`

[2018-03-16 11:19] tubeme commented on #163
Thanks it is actually one HTML... so I could use all the HTML coding right?

Warning should always be in red...

[2018-03-16 11:21] tubeme commented on #163
The <span style="color:red;"></span> does not work...

[2018-03-16 11:33] hamishwillee commented on #163
Sure it does in gitbook. But use the warning note by preference.

[2018-03-16 12:25] tubeme commented on #163
Strange it does not show in px4_user_guide/en/getting_started/basic_flight_modes.md

[2018-03-16 12:30] tubeme commented on #163
Probably we need this gitbook plugin installed: gitbook-plugin-style

https://www.npmjs.com/package/gitbook-plugin-style

[2018-03-16 14:09] tubeme commented on #163
`> **Warning**` does not work either...

[2018-03-18 23:42] hamishwillee commented on #163
Thanks for posting this. Excellent job for your first post. One request - can you please do changes as a PR rather than as a bunch of commits to master? I treat gitbook just like code - I fork the docs and post a PR for all my changes in one go. That way others can review them and help you improve.

I did a search in there an there are no spans/colours. You can see below that adding color works. *

[2018-03-22 22:59] hamishwillee opened #178 "Proposed flight mode docs structure and iconography"
This proposal is that we simplify the structure to make it easier to navigate, and use better iconography to provide needed context when you are within the document.

**Background**

The current structure for [Flight Modes Overview](https://docs.px4.io/en/getting_started/flight_modes.html) sorts flight modes by vehicle, type of mode (e.g. auto, manual).  It is quite hard to read because it is so l

[2018-03-22 22:59] hamishwillee commented on #178
FYI some possible icons:

----

A few other icons are listed below....

* ![image](https://user-images.githubusercontent.com/5368500/37748982-ea102b8e-2dd9-11e8-9c5d-d8c9f112a919.png) - [from here](https://www.flaticon.com/free-icon/gps-fixed-indicator_60834)
* ![image](https://user-images.githubusercontent.com/5368500/37749041-2a9dbf0e-2dda-11e8-8592-f1f3d9faabd2.png)  - [from here](https://www.i

[2018-03-23 05:35] hamishwillee opened #181 "Doc Bug: Flight Modes · PX4 User Guide"
[Flight Mode Overview > Manual/Stabilized mode](https://docs.px4.io/en/getting_started/flight_modes.html#manualstabilized-mode) - @tubeme the image isn't quite right.

1. On right, text "Level Flight / Stabilized" - "Stabilized" is miss-spelled in image.
2. The left stick is labeled rate controlled. But actually only the yaw input is rate controlled, not the throttle.

IMO for this case having the

[2018-03-23 05:40] hamishwillee commented on #178
@tubeme Very much leaning towards at least doing the restructure proposed above. In the [flight mode table](https://docs.px4.io/en/flight_modes/flight_modes_summary.html#multicopter) you will see that I don't organise by assisted/manual so I can relate each mode to the one before.

ie restructuring would allow me to reorder the modes and use the "ladder principle" you suggested.

[2018-03-23 08:19] hamishwillee opened #182 "New diagrams for acrobatic mode"
Hi @tubeme ,

The diagram for MC [acro mode](https://docs.px4.io/en/getting_started/flight_modes.html#acro-mode-acrobatic):
- Right stick Has move left right - actually it will rotate left or right around the specified axis with a specified rotation.
- Left stick says "climb/ascend". Again it is the same thing, a rotation up/down around the axis BUT if the vehicle is upside down it would actually

[2018-03-23 08:52] bkueng commented on #178
I like your proposal - and the set of icons. Maybe add one that shows the level of difficulty?
For the position icon, I would probably go for https://www.flaticon.com/free-icon/gps-fixed-indicator_60834.

[2018-03-26 03:19] hamishwillee commented on #178
Thanks. OK, so first part done (reorg - not icons): https://github.com/PX4/px4_user_guide/pull/183

[2018-03-26 08:18] tubeme commented on #178
Looks good to me. I got some icons I noticed that can be used for positioning device as well.
![simbolo ubicacion](https://user-images.githubusercontent.com/12617619/37894480-157649d8-30e7-11e8-99f7-29c7e535f0da.png)
![images](https://user-images.githubusercontent.com/12617619/37894485-17f403b2-30e7-11e8-9415-ec7f9b21c2b6.png)
![18576fb0f4edfe5](https://user-images.githubusercontent.com/12617619/3

[2018-03-26 08:24] tubeme commented on #181
I agree for the Angle and rate control... Could not find a better words to describe it...

Here are the corrected images.
![manual stabilized fw](https://user-images.githubusercontent.com/12617619/37894844-3f0fd8c6-30e8-11e8-856b-3e3e65d75fb4.png)
![manual stabilized mc](https://user-images.githubusercontent.com/12617619/37894846-3f364812-30e8-11e8-8445-75634578a033.png)

[2018-03-26 11:28] tubeme commented on #178
This one is not bad at all and has signature to it.
![location device](https://user-images.githubusercontent.com/12617619/37903815-fc5c3bae-3101-11e8-8dc8-bbb6e5cb3f78.png)

[2018-03-27 01:36] hamishwillee commented on #178
@tubeme I do like that last position image, but it is a "paid for" one. I used a similar icon that was free as shown below. Updated the difficulty icon using number and and colour as you suggested - decided to have the 6 level options.

![image](https://user-images.githubusercontent.com/5368500/37941715-4bdbf03e-31bb-11e8-92e2-7b73ebc05637.png)

Better options still welcome! If you do find one tho

[2018-03-27 02:38] hamishwillee commented on #181
Thanks @tubeme . For the "FW" image, could you please also change the spelling "Glyde" to "Glide"?

[2018-03-27 02:42] hamishwillee commented on #181
Angle and angle rate control are fine. The problem is that the Up/Down stick is not rate controlled - only the spin (yaw) is. That said, I don't see any easy way to correct it - this looks unbalanced:
![image](https://user-images.githubusercontent.com/5368500/37943762-a5b52e82-31c4-11e8-8f0d-83c7ed6e0346.png)

[2018-03-27 04:45] hamishwillee commented on #178
Closing this, as it is being addressed in https://github.com/PX4/px4_user_guide/pull/184

[2018-03-27 04:46] #178 closed

[2018-03-28 22:54] hamishwillee opened #189 "Need diagram for Rattitude mode"
It is missing

[2018-04-10 07:39] bigbellmercy opened #193 "[For improve] Procedure Clarification - Doc Bug: Airspeed · PX4 User Guide"
Hi, Thanks for User Guide.

The airspeed calibration procedure need more clarification of meaning for novices to do it.
Following is my question during my calibration failures:

4. Cover the sensor (i.e. with your hand). --> For what? To protect wind from the sensor?
6. Blow across the sensor. --> By mouth?, or some blowing device is needed?
As the 'Create air pressure!' is displayed, how many tim

[2018-04-10 08:25] bigbellmercy commented on #193
The other [post](http://discuss.px4.io/t/airspeed-sensor-calibration/5083) requests the same request as mine.

After I've succeeded in the calibration, I noticed the problem the document:

The key point of my mistake was that I was blowing air by mouth perpendicular to the pitot tube because of the sentence 'Blow **across** the sensor'.
After I blow air **parallel** to the pitot tube **by mouth sh

[2018-04-11 04:36] hamishwillee commented on #193
Thank you. I've clarified that you blow INTO the pitot in https://github.com/PX4/px4_user_guide/pull/194 - feel free to comment.

[2018-04-11 05:38] bigbellmercy commented on #193
Thanks a lot, Nice change!

[2018-04-12 07:24] hamishwillee opened #195 "FrSky Telemetry - update with additional information"
Update [FrSky Telemetry · PX4 User Guide](https://docs.px4.io/en/peripherals/frsky_telemetry.html) with images and suggestions from https://github.com/PX4/Firmware/issues/9240#issuecomment-380308090

[2018-04-13 01:18] #193 closed

[2018-04-13 06:16] hamishwillee opened #196 "Create/add altitude icon for relevant flight mode docs"
As discussed here: https://github.com/PX4/px4_user_guide/pull/191#issuecomment-378751450

@tubeme Thanks for the icon, but as discussed at link, it doesn't render well at 20/30px size. If you can create something that does display well (and possibly supply as SVG) that would be great.

I can then update relevant docs with image.

[2018-04-16 23:18] hamishwillee opened #199 "Peripheral Hardware - if supported, document Emild Reach RTK"
As discussed here: https://github.com/PX4/Firmware/issues/7275#issuecomment-381771120

Add page here: [Peripheral Hardware](https://docs.px4.io/en/peripherals/)
Add info/links here: https://docs.px4.io/en/advanced_features/rtk-gps.html

[2018-04-16 23:21] hamishwillee opened #200 "Document Omnibus F4 Pro Autopilot"
As sub page of [Pixhawk Series](https://docs.px4.io/en/flight_controller/pixhawk_series.html).

Discussed:
https://github.com/PX4/Firmware/pull/9310#issuecomment-381444412
https://github.com/PX4/Firmware/pull/9310#issuecomment-381475895

[2018-04-17 19:52] paan2097 commented on #199
This would be greatly appreciated! I'm trying to get this working by Thursday 4/19 for a deadline

[2018-04-17 22:33] hamishwillee commented on #199
@paan2097 It will not happen by 19/4. Hopefully there might be some advice from
https://px4.slack.com/archives/C3GFT2QS3/p1524004278000211?thread_ts=1524004250.000370&cid=C3GFT2QS3

[2018-04-19 22:59] hamishwillee opened #205 "Document all failsafes"
Failsafes are a real feature of an autopilot. Worth mentioning in high level concepts.

Some useful links

https://docs.px4.io/en/advanced_config/parameter_reference.html#COM_LOW_BAT_ACT
https://docs.px4.io/en/advanced_config/parameter_reference.html#COM_POS_FS_DELAY
https://docs.px4.io/en/advanced_config/parameter_reference.html#COM_OBL_ACT
https://docs.px4.io/en/advanced_config/parameter_referen

[2018-04-19 23:27] hamishwillee commented on #163
Done (mostly). Thanks @tubeme .

[2018-04-19 23:27] #163 closed

[2018-04-19 23:29] hamishwillee commented on #137
And possibly Return to GSC: https://github.com/PX4/Firmware/issues/9343
(imo it is desirable that all these return behaviours are documented in Return mode, and are part of the same mode)

In particular, steal this diagram for docs: https://github.com/PX4/Firmware/issues/9343#issuecomment-382906714

[2018-04-20 01:04] hamishwillee commented on #205
Also include this info (from @barzanisar )

[2018-04-29 23:39] hamishwillee commented on #205
See https://github.com/mavlink/qgc-user-guide/issues/138 for Battery clarification discussion

[2018-04-30 00:05] hamishwillee commented on #205
There is a question in https://github.com/mavlink/qgc-user-guide/issues/138

The way this works is that there are 2 battery thresholds (docs indicate "the common action at threshold" as shown):
* [BAT_EMERGEN_THR](https://docs.px4.io/en/advanced_config/parameter_reference.html#BAT_EMERGEN_THR) - Landing
* [BAT_CRIT_THR](https://docs.px4.io/en/advanced_config/parameter_reference.html#BAT_CRIT_THR)

[2018-05-02 02:59] hamishwillee commented on #205
This will be fixed by #212

[2018-05-03 08:37] bigbellmercy opened #213 "Doc Bug: Flight Modes · PX4 User Guide"
Hi, in 'Position' and 'Altitude' modes of 'Fixed Wing', there is no description for 'yaw stick'.

So users including me cannot know how the heading is determined and what is the role of yaw stick.

Bug Page: [Flight Modes · PX4 User Guide](https://docs.px4.io/en/flight_modes/)

[2018-05-04 06:59] hamishwillee commented on #213
Hmmm. Yaw stick controls yaw :-) Do you think we need to add that to the list?

This is very much a summary. At the top of the page you will see this link: https://docs.px4.io/en/getting_started/flight_modes.html

Thoughts?

[2018-05-05 04:32] bigbellmercy commented on #213
Nice day~ I agree. You’d rather decide to change or only consider it later. I just informed my case.

[2018-05-11 01:27] #213 closed

[2018-05-11 01:28] hamishwillee commented on #213
Thanks @bigbellmercy Done!

[2018-05-11 01:50] bigbellmercy commented on #213
Great Hamish!

[2018-05-11 08:47] bigbellmercy opened #225 "[Improvement] About centered stick and rudder control"
Hi, the descriptions below are not easy to understand for novices.

1. In 'Centered sticks' paragraph, although the paragraph is about 'centered' sticks but the content describes the variation of sticks. So it is ambiguous to novices for exact meaning.

2. In the last sentence above description, it is not sure to novice that the rudder control is basically automatically calculated by the coordinat

[2018-05-16 03:27] hamishwillee opened #231 "Create a Cube flight controller quick start"
As a sub page  of [Basic Assembly](https://docs.px4.io/en/assembly/).

Have permission to use images and text from the HEX/ProfiCNC quick start. Waiting on a few updated images.

[2018-05-23 05:59] hamishwillee commented on #231
Done! https://docs.px4.io/en/assembly/quick_start_cube.html

[2018-05-23 05:59] #231 closed

[2018-05-23 07:42] MaEtUgR commented on #205
@hamishwillee I think the default is to do no action because if someone builds a prototype vehicle, it doesn't fly properly in every mode yet and/or the battery parameters aren't configured correctly it could automatically do something unsafe (I've experienced this case before). Hence it was probably decided to be better if the vehicle fully obeys on remote input by default.

As you suggest I thin

[2018-05-23 07:45] MaEtUgR commented on #205
@hamishwillee Are all the listed conecrns now fixed with https://github.com/PX4/px4_user_guide/pull/212 ?
Then we could close this issue...

[2018-05-24 00:18] hamishwillee commented on #205
Thanks @MaEtUgR Yes, I'll close this. Thanks for the tip re "fixes". I knew there was some magic, but hadn't realised exactly what it was!

[2018-05-24 00:18] #205 closed

[2018-05-28 06:26] hamishwillee opened #244 "Multicopter PID Tuning Guide update and generic racer setup page"
[Multicopter PID Tuning Guide · PX4 User Guide](https://docs.px4.io/en/advanced_config/pid_tuning_guide_multicopter.html) needs a major overhaul
- Vehicles not actually tuned in this way.
- MC_YAW_FF is likely to be removed soon

Also have generic racer setup page.

Draft to be done by @bkueng with help from @MaEtUgR and @RomanBapst

This originates from discussion here: https://github.com/PX4/px4

[2018-05-30 23:45] hamishwillee opened #251 "Doc on VIO/Vision systems"
PX4 supports vision fusion/VIO, but this fact is not easily discoverable (there is no obvious/easy way to find out that this is supported and how to go about setting it up).

Specifically nothing "canonical" shows up in search on vision or VIO and nowhere can you find a statement about our level of support.  There is information about this in [the EKF doc](https://dev.px4.io/en/tutorials/tuning_th

[2018-05-30 23:49] hamishwillee commented on #251
@bkueng Is there anyone you recommend I talk to about this? In the short term I would like to understand the _terminology_ (ie what is VIO vs "Vision Navigation" and other ways this is referred to), the _technology_ - what we support vs technologies people might expect us to support, where we're good and bad. That should lead me into the detail of exactly what hardware is needed.

At the end of th

[2018-05-31 07:34] bkueng commented on #251
Yes, there are a few people: @ChristophTobler @mhkabir @nicovanduijn @TSC21

[2018-06-04 15:20] paan2097 commented on #199
Has anyone gotten the emlid reach rtk working with px4 yet?

[2018-06-11 08:46] MaEtUgR commented on #244
@hamishwillee Good idea. You could assign me as well.

[2018-06-11 08:52] bkueng commented on #244
FYI I started working on a racer page already. I'll probably do the tuning page as well.

[2018-06-11 09:02] MaEtUgR commented on #244
@bkueng That's perfect, I planned to postpone this if I had to write up myself. Let me know if I can help and/or review anything.

[2018-06-13 22:37] seanrowens opened #260 "PX4 User Guide site appears to be broken"
If I google on;

PX4 user guide

google shows me a top hit of;

Clicking on the above link takes me to https://px4.gitbook.io/px4-user-guide which appears to be pretty much empty.  Screenshot attached.

![screen shot 2018-06-13 at 6 36 40 pm](https://user-images.githubusercontent.com/1154707/41382149-d2312176-6f38-11e8-8547-d19478bf7b47.png)

[2018-06-13 22:43] hamishwillee commented on #260
Yes it is. We're looking into it. Thanks.

[2018-06-13 22:52] hamishwillee commented on #260
And for now, you can access current content from here:
https://hamishwillee.gitbooks.io/havdevguide/content/en/
https://hamishwillee.gitbooks.io/ham_px4userguide/content/

[2018-06-13 23:45] seanrowens commented on #260
Many thanks, that helps.

On Wed, Jun 13, 2018 at 6:52 PM, Hamish Willee <notifications@github.com>
wrote:

[2018-06-14 07:20] hamishwillee commented on #260
Fixed! Thanks for reporting this.

[2018-06-14 07:20] #260 closed

[2018-06-14 17:38] seanrowens commented on #260
Thanks for making some awesome open source software and (especially!) docs!

On Thu, Jun 14, 2018 at 3:20 AM, Hamish Willee <notifications@github.com>
wrote:

[2018-06-15 17:13] dagar opened #266 "Jenkins add htmlproofer"
@hamishwillee can you review what you want here and we'll get it added to Jenkins.

	-- htmlproofer ./_book
	-  --empty-alt-ignore true
	-  --check-external-hash true
	-  --url-ignore 'https://img.shields.io/badge/discuss-px4-ff69b4.svg,https://img.shields.io/github/release/PX4/Firmware.svg,https://support.intrinsyc.com/attachments/download/1571/Flight_3.1.3.1_qcom_flight_controller_hexagon_sdk_ad

[2018-06-18 04:31] hamishwillee commented on #266
@dagar What I need here is an external link checker that I can use to get a report on all broken links in a build, but NOT fail the build. I will then on occasion go through the links and fix them up.

htmlproofer is a link checker that integrates nicely with Travis and Gitbook output. You can use whatever is easiest for you with Jenkins. Does that answer the question?

[2018-06-18 16:04] dagar commented on #266
Why shouldn't it fail the build? Isn't it currently clean?

[2018-06-19 06:39] LorenzMeier opened #271 "Add mode to connect multicopter PWM straight to AUX and document it"
@bkueng @MaEtUgR We should document for racing setups how to essentially flip FMU and IO outputs.

[2018-06-19 07:15] hamishwillee commented on #266
@dagar Because external links can break at any point - unrelated to a particular PR or anything we are doing. I don't want to block work being submitted due to unrelated issues, but I do want an easy way to check external links.

[2018-06-19 07:21] bkueng commented on #271
Yep, already done here: https://docs.px4.io/en/advanced_config/racer_setup.html#control_latency via SYS_USE_IO param.
Do you need more?

[2018-06-19 14:05] MaEtUgR commented on #271
I think it's not only for racers, at least it clearly helped the F450 a lot and I extrapolate from there.

[2018-06-22 03:41] lamping7 commented on #266
If it doesn't break the build, how will we know what needs fixed?

[2018-06-22 05:03] hamishwillee commented on #266
Well on the old version, I just go review the travis build log. That shows any failed links, but does not stop the build from completing and being marked as failed for the purposes of merging.

[2018-06-25 09:52] hamishwillee opened #279 "Add Autopilot Hardware: OcPoC + clarity of Linux on PX4"
Bug Page: [Autopilot Hardware · PX4 User Guide](https://docs.px4.io/en/flight_controller/)

- Add example of Linux with PX4: https://aerotenna.com/shop/ocpoc-zynq-mini/
- Add some docs about Linux on PX4 - why, how limitations etc.

Discussion
-  the main reason to run PX4 on a linux board is to have a single hardware system that runs both PX4 and the "companion computer" functions
- This works bu

[2018-06-27 23:59] hamishwillee opened #282 "Improve section: Getting Started"
Bug Page: [Getting Started · PX4 User Guide](https://docs.px4.io/en/getting_started/)

I think whole section has lots of useful information, but does not tell the story very well.

We need to make sure that it answers the following questions:
- I'm a [insert audience target], how do I engage with docs
- What is a drone
- What types of drones are there, and what are they good for. Levels of detail

[2018-06-28 00:08] hamishwillee opened #283 "Improve section: Basic Assembly"
Bug Page: [Basic Assembly · PX4 User Guide](https://docs.px4.io/en/assembly/)

1. It isn't immediately obvious what basic assembly really covers. A diagram showing the main parts of a system would be helpful.
2. First sentence should be "This section contains topics that explain how to assemble a minimal flight-control system for running PX4 (without showing the specifics of how to mount the contr

[2018-06-28 00:10] hamishwillee opened #284 "Improve doc: Vehicles/Frames"
Bug Page: [Vehicles/Frames · PX4 User Guide](https://docs.px4.io/en/getting_started/frame_selection.html)

This is incomplete.
- Has empty sections for boats, and ground vehicles.
- The selection information omits payload. It would also be good if this could be generic (ie independent of vehicle type).

- Top section is empty. Could include:
  - Generic info about selection
  - Info about the type

[2018-07-09 07:59] #200 closed

[2018-07-17 15:36] IeiuniumLux opened #294 "Lidar-Lite misleading note for the Intel Aero"
Hi Hamish,

The [Lidar-Lite page](https://github.com/PX4/px4_user_guide/blob/67745a094608bcaaca9c4452f3b078270d4083ad/en/sensor/lidar_lite.md#lidar-lite) has a little bit misleading note for the Intel Aero. The note links you to the Intel Aero page just to find out a [waring](https://github.com/PX4/px4_user_guide/blob/df32443e5fbb14240270a26e93526f7ddeccfd0b/en/flight_controller/intel_aero.md#conn

[2018-07-19 18:27] bkueng opened #297 "Pixracer: broken links"
The links to the schematics (pdf's) are broken:
https://docs.px4.io/en/flight_controller/pixracer.html#schematics

Should probably include or point to this: https://github.com/AUAV-OpenSource/FMUv4-PixRacer/blob/master/R12%20Initial%20Production/PIXRACER-R12.pdf

[2018-07-20 01:36] hamishwillee commented on #297
Thanks Beat. Problem caused by .gitignore hiding pdfs.
Fixed by #299

[2018-07-20 01:36] #297 closed

[2018-07-20 05:25] bkueng commented on #297
Thanks!

[2018-07-25 00:00] #294 closed

[2018-07-25 00:42] IeiuniumLux commented on #294
@hamishwillee sorry, I was out for a few days.  Yes, that is what I meant regarding the connector being flipped over so you got it.  The pins are on opposite sides in v3 unit. Thanks!

[2018-07-25 10:13] hamishwillee commented on #294
Thanks Al, I've made that clear now on master.

[2018-07-26 06:18] cuhome opened #302 "Fmuv2/V3 firmware does not support ist8310, as an autopilot's external compass"
Request to add the ist8310 driver to the fmu v2/v3 firmware.

[2018-08-11 16:21] SrgGroot opened #313 "Doc Bug: Optical Flow · PX4 User Guide"
If connected to PX4 via MAVLink the Optical Flow device must publish to the OPTICAL_FLOW_RAD topic, and the distance sensor **must** (not much) publish to the DISANCE_SENSOR topic.

Bug Page: [Optical Flow · PX4 User Guide](https://docs.px4.io/en/sensor/optical_flow.html)

[2018-08-12 07:01] #313 closed

[2018-08-12 07:02] hamishwillee commented on #313
Thanks @SrgGroot - much appreciated. Fixed. You can do this sort of fix yourself pretty easily by pressing the Edit button up the top of every page - this will allow you to make a PR for review.

[2018-08-12 15:01] SrgGroot commented on #313
Thanks for the friendly reminder!

[2018-08-14 21:02] IeiuniumLux opened #319 "Doc Bug: Airspeed · PX4 User Guide"
[Step 4](https://github.com/PX4/px4_user_guide/blob/master/en/config/airspeed.md#performing-the-calibration) is quite misleading/confusing with that warning, don't you think so?

Bug Page: [Airspeed · PX4 User Guide](https://docs.px4.io/en/config/airspeed.html)

[2018-08-15 12:51] hamishwillee commented on #319
@IeiuniumLux The point is to "shield" the sensor from direct wind but not it is important not to block the sensor holes. The warning is therefore necessary - because otherwise people might block the holes.

Would you find it clearer as:

[2018-08-15 14:48] IeiuniumLux commented on #319
Hi Hamish, As usual, thank you for the quick follow up.  The way you explained above makes more sense.  I just made small changes.

[2018-08-16 07:34] #319 closed

[2018-08-16 07:34] hamishwillee commented on #319
Thanks! Fixed. Further slight modification.

[2018-08-21 11:50] MariliG opened #325 "Doc Bug: Airspeed"
In  [Airspeed > Testing](https://docs.px4.io/en/config/airspeed.html#testing) it says:

But where/how do you see the "system read and hold a positive airspeed"? Ie where on QGC and you observe the airspeed after calibration?

[2018-08-27 01:37] hamishwillee opened #326 "Add better camera doc"
This is copied from https://github.com/PX4/px4_user_guide/pull/49 (merged PR that needs more work)

Need to fix up https://docs.px4.io/en/peripherals/camera.html

We need documents in user guide on "how to set up cameras". Once complete, this will be it. I've "seeded" it by copying [Camera Trigger](https://dev.px4.io/en/tutorials/camera_trigger.html) tutorial from the devguide.

This will have to

[2018-08-27 02:04] hamishwillee commented on #326
Make sure any info required for Camera Capture driver is added: https://github.com/PX4/Firmware/pull/10295#issuecomment-416093746

[2018-09-12 07:05] hamishwillee opened #332 "Telemetry ports parameters and wiring"
This [mavlink uart](https://github.com/mavlink/c_uart_interface_example#exploration) example states:

The link to pixhawk.org no longer exists, but clearly we do need to have a link which says how you connect a telemetry radio.

I was thinking perhaps we should merge [MAVLink (OSD / Telemetry)](https://docs.px4.io/en/peripherals/mavlink_peripherals.html) into [Telemetry Radios · PX4 User Guide](ht

[2018-09-12 07:43] Xiaoyu0601-Wang opened #333 "Some modifications might be needed in Crazyflie 2.0 page."
In the "Crazyflie 2.0 -> Wireless Setup Instructions" part,
if I follow the instructions of installation, the cfbridge will work without showing
"waiting to receive message
received 17 bytes from ('127.0.0.1', 14550)", and QGC cannot detect crayflie.

I think the problem here is that the python access permission to usb port is denied.

So I deleted all pip installations and virtualenv, and added t

[2018-09-12 08:10] bkueng commented on #332
Merging makes sense.
What you need in addition to the provided info on the uart example page is the pinout (and the Telemetry if you want to test with that. But the first step is probably via FTDI).

[2018-09-12 08:51] bkueng commented on #333
@barzanisar ?

[2018-09-12 09:30] barzanisar commented on #333
I didn’t across this issue when I was setting up cfbridge but since “— user” option installs packages into the default Python environment, it’ll be nice to add it in the crazyflie px4 guide. Can you please open a PR for it?

[2018-09-12 22:45] hamishwillee commented on #333
I created and merged PR for this https://github.com/PX4/px4_user_guide/pull/334. `--user` causes no harm.

Thanks @Xiaoyu0601-Wang .

[2018-09-12 22:45] #333 closed

[2018-09-13 06:30] hamishwillee commented on #332
I've reconsidered this. The work you've done to split the TELEM ownership by per module params means that we should talk about the functions "OSD" and "Telem radio" rather than port ownership.  UPshot, I think that having an OSD page makes sense, but we will have to make one that is meaningful - the current version is pointells.

[2018-09-13 06:49] hamishwillee commented on #332
I'm not sure I know enough to do this.

Telemetry radios are easy because there is no wiring up. I guess we just point to the telemetry page, which should explain how to set params for the port?

For FTDI I think you're suggesting we need to point how to find map the RTS, RX, TX, 5V, CTS, GND on the cable (https://docs.px4.io/en/flight_controller/pixhawk.html#pinouts) to the serial 4 pinouts of th

[2018-09-13 07:45] bkueng commented on #332
Yes in that case it's enough. When you work with UARTs you might have an FTDI available, but not necessarily a Telemetry.

Correct.

Yes RTS and CTS are not required.

I think for most of them it's the same. But I cannot say for sure.

Exactly, you need to make sure to disable what's already running on the port you want to use. This will become possible with the new configuration params or via SYS

[2018-09-14 01:58] hamishwillee commented on #332
Thanks very much. Sorted by https://github.com/mavlink/c_uart_interface_example/pull/30

[2018-09-14 06:47] #332 closed

[2018-10-08 22:51] hamishwillee opened #357 "Improve Pixhawk Series to better capture scope of project"
[Pixhawk Series](https://docs.px4.io/en/flight_controller/pixhawk_series.html)
- Maybe add timeline of boards like https://linuxhere.files.wordpress.com/2010/08/lintimeline2.png
- Capture intent better:
  - Pixhawk tries to set a *binary compatible* standard, so different manufacturers can offer hardware to the community.
   - Pixhawk tries to set an *interface standard* for the mechanical interfa

[2018-10-17 22:18] hamishwillee opened #368 "Compass - clarify how multiple compasses work"
1. Clarify conditions under which internal compass might be used
   - Recommendation is *always* use an external magnetometer if you can (usually combined with the GPS) mounted as far from other electronics as possible. The reason for this is that compasses are susceptible to electromagnetic noise, so the further from other electronics the better. An internal compass will always be close to the ot

[2018-10-17 22:18] hamishwillee commented on #368
How I think compasses work.

Looking at the params:
- we support up to 4 magnetometers, which are enabled using CAL_MAGX_EN, where X=0-3. You can disable any of them using this parameter, but you must have at least one.
- YOu can specify them as internal or external. This should be done for you automatically by the driver for internal ones though.
- There is a primary compass which is identified u

[2018-10-17 22:20] hamishwillee commented on #368
@dagar @bkueng Anything you can add in terms of above info?

[2018-10-18 06:14] bkueng commented on #368
Correct.

It's mostly about strong currents, so current from the battery to the motors. This means an internal compass might be usable on a larger vehicle (e.g. VTOL), where you can place the Pixhawk far enough away from the motor/ESC power supply lines.

No! :) On small vehicles the internal compass is pretty much always useless. On a racer w/o external compass you better not use the mag at all.

[2018-10-31 15:47] davids5 opened #373 "Add "cut-in" date and next release for a feature."
@hamishwillee - On the dev-call we discussed this and @dagar asked me to post this:

 We have an opportunity to reduce some confusion that stems from a user using old code with current docs by adding a 'cut-in' date of when a documented change occurred and in what stable release it will be incorporated.

[2018-11-01 03:10] hamishwillee commented on #373
Hi @davids5 @dagar

Yes, it is a legitimate concern. The other concern is that they might still want those old docs.

There is really only one _effective_ way to address this problem - add versioning to the documentation set. So master remains as is and we take a copy of the docs for each release. I use this approach for the [SDK](https://sdk.dronecode.org/en/):
![image](https://user-images.github

[2018-11-12 14:18] airmind opened #378 "Doc about MindPX firmware"
@hamishwillee i noticed docs on MindPX hardwares are re-organized and looks good, thanks for the work.

One problem i found on https://docs.px4.io/en/flight_controller/mind_series.html is, as quoted below,

I am not sure i correctly understand this text. Is it stating that PX4 on MindPX hardware is not downloadable through QGC now? as i did not see such changes on QGC side.

Or it means customized

[2018-11-12 23:14] hamishwillee commented on #378
@airmind What it means is that MindPX uses a custom build of firmware that isn't automatically available for download from QGC backend servers. If you want to use MindPX you have to build and upload your own firmware. You can do this through QGC as "custom firmware"

Does that make sense?

IF so, I can improve this text to : "At time of writing, MindPX firmware is not automatically available for d

[2018-11-14 12:56] airmind commented on #378
@hamishwillee thanks for the reply.

I think there are some misunderstanding, as MindPX firmware is one of the targets of official PX4 releases, and can actually be downloaded/upgraded through QGC automatically.

This statement probably a historical text? been written some time back long ago before MindPX board was supported by QGC. It should be obsolete now, and probably just remove it in my sugg

[2018-11-15 00:51] #378 closed

[2018-11-15 00:52] hamishwillee commented on #378
Thanks @airmind - yes, historical text. I have removed note in the page (see linked changelist).

[2018-11-16 10:15] airmind commented on #378
Thank you @hamishwillee !

[2018-11-21 17:13] IeiuniumLux opened #382 "Reduce Control Latency"
In the [Control Latency](https://github.com/PX4/px4_user_guide/blob/7d13e9c39a17f12a43514fd52e9cdfa783a26e31/en/config_mc/racer_setup.md#control-latency-control_latency) section, this line should read:

"These are the factors that contribute to **_reduce_** the latency:"

Instead of:

"These are the factors that contribute to the latency:"

Without the word **_reduce_**, the reader might interpret

[2018-11-22 01:45] hamishwillee commented on #382
Thanks! Proposed fix in #384

[2018-11-22 08:36] bkueng commented on #382
That is not correct, they all in fact contribute to increasing the latency. For example a softer mounted airframe will add latency.

[2018-11-22 22:55] hamishwillee commented on #382
Thanks @bkueng

There is still a problem here, because @IeiuniumLux was able to misinterpret the text. I think it is because the points refer to reducing latency even though the introduction says contribute to.

How about we change FROM
[code]
TO (use "affect" rather than contribute, and then clarify in specific cases what they do)
[code]

[2018-11-22 23:40] hamishwillee opened #386 "Add simplified message flow diagram to Obstacle Avoidance"
[Obstacle Avoidance](https://docs.px4.io/en/computer_vision/obstacle_avoidance.html) could possibly be improved by adding a diagram showing some of the message flow - e.g. like:
![](https://user-images.githubusercontent.com/5368500/48680619-fa5edf00-ebf0-11e8-9110-3fad17dd0e40.png)

The detailed message flow info is in the tables in https://github.com/PX4/avoidance/pull/145

And discussion of this

[2018-11-23 08:36] bkueng commented on #382
Yes the change is good.

[2018-11-26 00:42] hamishwillee commented on #382
Thanks guys, committed change as https://github.com/PX4/px4_user_guide/commit/5332ad444c5a000b11d754eef441027381c7a212

[2018-11-26 00:42] #382 closed

[2018-12-01 06:32] cuhome opened #394 "The master branch firmware (fmu v3) cannot drive the sensor"
I downloaded the master firmware from qgc and found that it is not normal. It only recognizes ms5611 and other sensors are not being driven normally. I found a strange problem with a version number of 1.80dev instead of 1.81 or 1.82. But it shouldn't be an old firmware because it has added a new rgb driver.
![fmu_v3](https://user-images.githubusercontent.com/31507501/49324962-920ae880-f574-11e8-80

[2018-12-03 05:01] hamishwillee opened #395 "Fix up anchor and richtext plugins"
As per https://github.com/PX4/Devguide/pull/680, there are updates to richtext and anchor plugin we can enable (copy book.json changes).

Do for other books too - but for now allowing a few days for testing of Devguide.

[2018-12-05 21:34] hamishwillee opened #397 "Add Orbit Mode"
Need to document the Orbit mode.

Some key links
- [Orbit: Send telemetry for the UI #10989](https://github.com/PX4/Firmware/pull/10989)
- [Enable Orbit Flight Mode](https://github.com/PX4/Firmware/pull/10907)
- QGC: [Orbit supports display/changing rotation direction #7064](https://github.com/mavlink/qgroundcontrol/pull/7064)
- [MAV_CMD_DO_ORBIT](https://mavlink.io/en/messages/common.html#MAV_CMD

[2018-12-06 00:50] hamishwillee commented on #397
@MaEtUgR Thanks. Firstly, the main open question was this bit:

Currently it says

But I think you are saying it should say:

Is that correct? Basically we either need to define a default frame for this in MAVLink spec OR do whatever is normally done for COMMAND_LONG (I have no idea!)

note, we can now specify default= attributes, which are used only by GCS.

[2018-12-06 01:01] hamishwillee commented on #397
One would hope. I'm not sure how the releases are managed. I did see Ramon asked you if this would likely be ready for 1.9.

Solo UI is demoed here: https://youtu.be/JYFXOg0vt2U?t=388

Basically centre is set in GCS, but RC then allows you to change the radius and the direction.

For docs it doesn't matter - I just like to say what it does :-)

But I would say is the same as for MC - you've flown

[2018-12-06 01:09] DonLakeFlyer commented on #397
@hamishwillee is correct with his comments. In reality MAV_FRAME makes a lot of sense in the gcs->vehicle direction as used for mission commands. Since the user is in control of the information being sent. Whereas for vehicle->gcs telemetry I don't think MAV_FRAME makes as much sense. I think you should just spec it to be a single set of specific values. The only downside of that is that it means

[2018-12-06 01:20] hamishwillee commented on #397
It is certainly possible and even desirable to restrict the supported frames for a message - they can always be extended later if needed.

[2018-12-06 22:30] hamishwillee commented on #397
See also https://github.com/mavlink/qgroundcontrol/pull/7066

[2018-12-07 11:43] MaEtUgR commented on #397
Yes a clear default would makes sense. @DonLakeFlyer any preference? ok with `MAV_FRAME_GLOBAL`?

Sure, I'm pushing for this feature now that I'm able to. I think it makes sense to be included in 1.9.

Interesting, I've never seen that before.

This statement also holds for our implementation. Just RC input is handeled a bit different. I felt like holding the stick all the time just to continue th

[2018-12-09 13:36] bys1123 opened #401 "Translation contributing guide in Readme"
I saw the translation guide in the Readme.md of this project, still using the git way, do you think this is  time add Crowdin way into it?

[2018-12-10 02:02] hamishwillee commented on #401
Yes. Deleted all this and link to new translation doc in the Devguide: https://dev.px4.io/en/contribute/translation.html

Thanks!

[2018-12-10 02:02] #401 closed

[2018-12-10 03:30] hamishwillee commented on #397
Great to all that. Can you go back and add the changes proposed to the MAVLink message?

[2018-12-10 06:13] #395 closed

[2018-12-13 09:09] tuloski opened #405 "No .bat in /PX4 directory installing Cygwin"
The deocumentation here (https://dev.px4.io/en/setup/dev_env_windows_cygwin.html) says that I should have tree .bat in the installation directory:
 - run-console.bat
 - run-eclipse.bat
 - run-vscode.bat

But I actually have only "run-console.bat".
I don't know if it was a problem during the installation of Cygwin or the documentation is missing something, for example some installation that will pu

[2018-12-13 23:08] hamishwillee commented on #405
@tuloski YOu didn't do anything wrong. @MaEtUgR removed the links (for now). I'll tidy the docs.

[2018-12-13 23:15] hamishwillee commented on #405
Thanks again. This will be fixed by https://github.com/PX4/Devguide/pull/695

[2018-12-17 02:02] bys1123 opened #408 "Miss pid_tuning_guide for both multicoptor and fixed wing in Crowdin"
Can't find pid_tuning_guide_fixedwing.md and pid_tuning_guide_multicopter.md files in PX4-user-guide crowdin translation platform. Do you know why cause this? Could you help fix this?

[2018-12-17 06:38] hamishwillee commented on #408
Fixed :-)

It is a minor problem with Crowdin that you can trigger by re-saving the unmodified Github sync config.

[2018-12-17 06:38] #408 closed

[2018-12-19 17:33] MaEtUgR commented on #405
The scripts are not part of the installation anymore. It's because before I had the whole eclipse IDE inside the installer which made it way too bulky and the vs-code script was just a test without any warranty. What I'm currently doing to use the toolchain is installing VS code independently on my Windows machine and setting `"terminal.integrated.shell.windows": "C:\\PX4\\run-console.bat"` in my

[2018-12-19 17:43] tuloski commented on #405
As VS Code user I'd be happy to have that, but running run-console.bat and send a command line "make ..." is not really a big issue.
For me it's fine as it is...just change the docs to reflect the actual process ;).

[2018-12-19 22:18] hamishwillee commented on #405
@MaEtUgR Docs will be fixed once you review https://github.com/PX4/Devguide/pull/695

[2018-12-24 05:16] hamishwillee commented on #405
Closed by https://github.com/PX4/Devguide/pull/695

[2018-12-24 05:16] #405 closed

[2019-01-04 18:22] IeiuniumLux opened #410 "Fix warning statement in Camera Trigger page"
Please replace the first '_**are**_' with an '_**and**_' in the [warning statement](https://github.com/PX4/px4_user_guide/blob/15a269f1565032c4e2f16ac8a43042ee595b6159/en/peripherals/camera.md#trigger-hardware-configuration), as shown below:

"(1234 ~~**_are_**~~ **_and_** 56 are 2 different groups handled by 2 timers)"

[2019-01-07 06:34] hamishwillee commented on #410
Thanks. Fixed by https://github.com/PX4/px4_user_guide/commit/2d98fbb8b400d1a7bb901c0681b3d81c759bb0eb

[2019-01-07 06:34] #410 closed

[2019-01-07 22:13] hamishwillee opened #412 "Add BetaFPV Beta75X 2S Brushless Whoop Docs"
Add docs for [BetaFPV Beta75X 2S Brushless Whoop](https://www.getfpv.com/beta75x-2s-brushless-whoop-micro-quadcopter-xt30-frsky.html)
- Along the lines of https://docs.px4.io/en/flight_controller/bebop.html ? i.e.
  - how to build for it,
  - How to connect to it
  - how to upload new software/new bootloaders
  - How do debug it
  - Any special config
  - How to report bugs for it

Discussion orig

[2019-01-07 22:19] hamishwillee commented on #412
What do you think of the idea of putting this along with aero, crazyflie, bebop under a "Commercial Platforms" or similar super folder. Ie they all share the fact that they are not boards but full vehicles, albeit some are reference platforms.

[2019-01-08 08:52] bkueng commented on #412
Yes I think something like "Complete Vehicles" makes sense - full/ready-to-fly vehicles where you can flash upstream PX4.
On that note we should also add the [Teal One](https://tealdrones.com/teal-one/) (@dakejahl).

[2019-01-16 00:42] hamishwillee opened #415 "Add Xbee Telemetry Radio Info"
[Telemetry Radios · PX4 User Guide](https://docs.px4.io/en/telemetry/)

We seem to be missing information on X-Bee. This used to be on pixhawk.org site - [text without images copied here](https://docs.google.com/document/d/1Vu1iJy_fQVd3xiLcbhYuaAOF8f8cn_ZP4W4fgu86vt8/edit?usp=sharing). This was not copied as assumed very out of date.

This requires help from someone who has set this up in recent t

[2019-01-16 13:47] dagar opened #417 "add/review serial port mapping for all boards"
https://github.com/PX4/Firmware/pull/11044

Until recently PX4/Firmware carried simple serial port mapping documentation in the init scripts. https://github.com/PX4/Firmware/blob/82aa24adfca29321cfd1209e287eab6c2b16780e/ROMFS/px4fmu_common/init.d/rcS#L16-L40
![image](https://user-images.githubusercontent.com/84712/51253088-6cdb0980-196b-11e9-86ce-78909ce3da9a.png)

After the board reorganization i

[2019-01-16 14:34] davids5 commented on #417
[code]

*From a HW perspective USART6 could be used as a third telem port with HW handshaking *OR* for Serial based RC protocols (SBUS,SUMD...).  In the case as built for pixhawk 4 Hardware the RX, RTS and CTS are not connected. The TX is used as an RX in Single wire mode. This is to enable support for SBUS2 which is not supported as of this writing in FW.

When the PX4IO is not present the FMU (F

[2019-01-16 21:36] hamishwillee opened #418 "Add docs for Septentrio base station RTK"
See https://github.com/mavlink/qgroundcontrol/pull/7145

Will require updates to a number of pages including:  [RTK GPS](https://docs.px4.io/en/gps_compass/rtk_gps.html)

[2019-01-24 07:35] hamishwillee opened #422 "Mounting the Flight Controller - link to vibration docs"
Need to better link to https://docs.px4.io/en/log/flight_review.html#vibration and see if there is any other best practice we can learn from.

[2019-01-31 01:20] hamishwillee opened #426 "Add info about tunes"
In the guide add information about the tunes - including sound files to play. Probably just below: https://docs.px4.io/en/flying/led_meanings.html

For info see: https://github.com/PX4/px4_user_guide/pull/423#issuecomment-458886972

[2019-01-31 05:08] hamishwillee commented on #417
Don't forget this one gentlemen

[2019-01-31 18:11] IeiuniumLux commented on #326
@hamishwillee, Currently there are two Camera docs online with the same title "Camera Trigger".  The one you mention [above](https://docs.px4.io/en/peripherals/camera.html) and another one, but with less content [here](http://dev.px4.io.s3-website-us-east-1.amazonaws.com/advanced-camera-trigger.html#).  It might be a good idea to retire the latter.

[2019-02-03 22:49] hamishwillee opened #429 "Add pyulgresample analysis tool"
[Flight Log Analysis](https://docs.px4.io/en/log/flight_log_analysis.html#analysis-tools) - add tool, as discussed in https://github.com/PX4/Firmware/pull/10791

@Stifael FYI

[2019-02-05 20:11] bys1123 commented on #96
@hamishwillee I think this should add to doc when you have time.

[2019-02-05 23:18] hamishwillee commented on #96
Done in #433

[2019-02-06 00:14] #426 closed

[2019-02-06 01:15] hamishwillee opened #434 "Vibration Management"
Discussion comes from here: https://github.com/PX4/px4_user_guide/pull/427#issuecomment-459586822

With respect to vibration damping it would be great to have more guidance. Ideally a detailed page or two, but if not, links to external resources:

* [x] Are there any good resources external we should link to?
* [ ] Do we have anyone here expert enough to write these for our systems?
* [ ] Minimall

[2019-02-06 01:15] hamishwillee commented on #434
Specifically Beat wrote some high level guidance on spotting vibration issues using logs, and included this section on what you can do if you have vibration: https://docs.px4.io/en/log/flight_review.html#solutions
We also suggest "following manufacturer instructions for mounting" in our mounting the flight controller page.

It is a little thin, so I would like to either have more guidance on what

[2019-02-06 01:16] hamishwillee commented on #434
@hamishwillee @bkueng maybe we can change the formulation from Vibration "damping" to vibration "isolation". Damping reduces the peak at the resonance but it also reduces roll-off, which means frequency above the natural frequency are amplified more. What we are trying to do is isolate, not just dampen.

Maybe for the advanced user we could add suggestions how to measure the natural frequencies of

[2019-02-06 01:19] hamishwillee commented on #434
@RomanBapst We can from a docs point of view refer to this as **Vibration Damping/Isolation** or **Vibration Management** to capture both cases.

@bresch @priseborough @RomanBapst @bkueng Any comment to Roman's suggestion above? https://github.com/PX4/px4_user_guide/issues/434#issuecomment-460868033

[2019-02-06 11:47] bys1123 commented on #96
Wow, so fast, thanks!

[2019-02-07 11:02] bkueng commented on #434
@hamishwillee I agree with @RomanBapst. I think wherever I added something I used vibration isolation, and not damping.

[2019-02-12 01:32] hamishwillee commented on #434
@bkueng @RomanBapst I think you are suggesting that we globally start refering to vibration isolation rather than damping? Or are you just suggesting that *this discussion* should focus on vibration isolation?

In either case, regarding:

Sounds good. Who can do this, and when? Also, what benefit does knowing these have?

[2019-02-12 05:41] priseborough commented on #434
We are asking users to isolate the board from vibration. Isolation is the accepted industry term for the objective and and involves designing a mechanical attachment with appropriate stiffness and damping properties that together with the mass/inertia of the autopilot, provides the required isolation from vibration of the airframe.

[2019-02-12 05:44] priseborough commented on #434
Damping as an objective is normally something done to the airframe itself to reduce the amplitude of specific structural resonances that can cause the autopilot mounting location to experience excessive vibration levels to a level that the isolation mount + autopilot can handle.

[2019-02-15 01:36] hamishwillee commented on #434
Thanks for the definitions Paul - helpful for me.

I [updated](https://github.com/PX4/px4_user_guide/pull/437) the basic mounting docs to use the correct terminology (isolation).

As before, up to you guys to drive these docs. I don't know enough, so if you leave it with me, nothing will happen.

I'm not even sure where it would "live" in the doc structure. Probably in "Advanced Configuration" as

[2019-02-15 10:15] #96 closed

[2019-02-17 21:48] hamishwillee opened #439 "Telemetry Radios - Need to add something on LTE"
[Telemetry Radios](https://docs.px4.io/en/telemetry/) refers to Sik radio and Telemetry Wiki, but not LTE (or more generically "telephony module"?).

Can you point me to info (or people) that explain how this works with PX4? Ie
- Are there any "protocols" for the connection
- What drivers are used
- Any specific models or versions that we know work.

Basically enough for people to be able to find

[2019-02-17 23:19] hamishwillee opened #440 "Safety/GPS failure params need to clarify position loss"
From https://github.com/PX4/Firmware/issues/10906#issuecomment-464380037

Multiple terms are used "loss of position", "loss of global position", and "loss of GPS". They all have slightly different meanings are are not used consistently. ( @hamishwillee maybe something for a separate discussion)

@Antiheavy Historically GPS and global position loss have been synonymous. Yes, it would be good to mak

[2019-02-18 06:32] julianoes commented on #439
I have no idea I'm afraid. I know that my phone does LTE and 4G and that's about it :smile:.

[2019-02-18 10:43] bkueng commented on #439
I think the reason why we don't have any docs is because it has nothing to do with PX4. Essentially you can take any LTE dongle (usually via USB) and connect them to the companion. Then make sure the device works (you might need linux drivers for that) and you have connectivity.
After that it's essentially the same as any WiFi or Ethernet connection.

But yes I think adding the models we know that

[2019-02-18 23:43] hamishwillee commented on #439
Thanks @julianoes @bkueng I was envisaging that you would connect the LTE device direct to the FC and then communicate with it via LTE connected to your computer - ie a direct replacement for your telemetry radio.

However my understanding of what you're saying is that
- LTE is used to connect your companion and other systems.
- To the companion the dongle is just an internet connection; a ground

[2019-02-19 08:35] bkueng commented on #439
No, that would be cool.

Right.

Correct. No standard way. Typically you can use a VPN, then you also have a secure connection.

We use the [Huawei E8372](https://consumer.huawei.com/en/mobile-broadband/e8372/) and Huawei E3372. The first one has an included WiFi, which makes development workflow a bit easier (you can keep it plugged into the companion and configure the SIM by connecting to the Wi

[2019-02-24 22:10] hamishwillee opened #447 "Should we use a bot to compress images on all docs"
https://github.com/marketplace/imgbot

@mhkabir Thanks for link above. I'm in two minds about automating image compression. Obviously smaller files makes things better for end users. My concern is that authors will not think about image size any more - and then anyone syncing the repo ends up having to carry those big uncompressed files for local testing.

@bkueng Thoughts? I am inclined to try th

[2019-02-25 11:05] bkueng commented on #447
I agree, if it just adds commits it's not great. If it rewrites them or tells you 'hey please change your commits to use that image', it can be a nice solution.

[2019-02-26 02:28] hamishwillee commented on #447
Hi @bkueng

It just adds commits/PR. I tried this on my local repo: https://github.com/hamishwillee/px4_user_guide/pull/3

Below is the analysis they emailed me. I don't think it is worth doing by default, but I might go through and take a small subset with significant improvements.

File | Before | After | Percent reduction
-- | -- | -- | --
/assets/hardware/pwm_esc/pwm_without_gnd.png | 19.78kb

[2019-02-26 06:08] hamishwillee commented on #447
And FYI, I did a removal/reduction of some of the larger files in https://github.com/PX4/px4_user_guide/pull/449 - these were mostly the very large ones that significantly affect page load, or which are no longer used at all.

[2019-02-28 09:22] bkueng commented on #447
Looking at the list, I agree with that.

[2019-03-04 03:31] #439 closed

[2019-05-02 04:09] hamishwillee opened #474 "Here 2 Page missing"
As discussed in https://github.com/PX4/Firmware/issues/11230#issuecomment-488547281

Should appear near [Here+](https://docs.px4.io/master/en/gps_compass/rtk_gps_hex_hereplus.html) page

[2019-05-03 21:10] fnoop opened #476 "How to install docs locally?"
README.md says:

However the link to gitbook goes to v2 changelist which says there is no more local/offline install.  If I want to take a copy of the docs offline for field reference, how can I do this?  Are the docs now completely dependent on proprietary closed 3rd party?

[2019-05-06 01:59] hamishwillee commented on #476
I've fixed up our docs to point to the original installation instructions on github.

So no, our docs still use the legacy gitbook system. At some point this might have to change but right now the system does what we need.

[2019-05-06 02:00] hamishwillee commented on #476
Fixed  by https://github.com/PX4/Devguide/commit/dcf121ef5034c066bf284e0f561234639364116e

[2019-05-06 02:00] #476 closed

[2019-05-06 02:00] hamishwillee commented on #476
PS those instructions are here https://github.com/GitbookIO/gitbook/blob/master/docs/setup.md

[2019-05-08 18:29] fnoop commented on #476
Works great, thanks :)

[2019-05-09 01:48] #397 closed

[2019-05-14 23:29] hamishwillee commented on #422
Links was created. There is an open issue for better vibration docs: https://github.com/PX4/px4_user_guide/issues/434

[2019-05-14 23:29] #422 closed

[2019-05-14 23:48] hamishwillee commented on #434
@bkueng @priseborough @RomanBapst

I don't know enough to do anything else useful with vibration damping docs, so if we are to do anything else, it needs to be driven by you guys.

Can you please all respond with a three point answer:
- Vibration docs covering topic X would be useful for a significant number of users, where X is a topic
- These are sufficiently useful that it is worth putting in t

[2019-05-15 07:46] bresch commented on #434
@hamishwillee  I have two interesting references about vibration analysis:
- An Introduction to Shock & Vibration Response Spectra, Tom Irvine ([free ebook](https://info.mide.com/hubfs/eBooks/ebook-tom-irvine-shock-vibration-response-spectra.pdf))
- Structural Dynamics and Vibration in Practice - An Engineering Handbook, Douglas Thorby ([preview](https://books.google.ch/books?id=PwzDuWDc8AgC&print

[2019-05-16 03:09] hamishwillee commented on #434
Thanks very much @bresch - I think that will be useful. Added in #482

[2019-05-17 07:48] hamishwillee commented on #474
Requires @proficnc

[2019-05-27 05:04] hamishwillee opened #485 "Land Detector Configuration - what replaced LNDFW_VELI_MAX?"
[Land Detector Configuration · PX4 User Guide](https://docs.px4.io/master/en/advanced_config/land_detector.html#fixed-wing-configuration) has this text, but LNDFW_VELI_MAX does not exist:

@RomanBapst Any ideas, or suggestions for who might know more about landing detector?

[2019-05-27 05:23] hamishwillee opened #486 "Crazyflie 2.0 Where is CONFIG_DEV_LOWCONSOLE/nuttx-config?"
[Crazyflie 2.0 · PX4 User Guide](https://docs.px4.io/master/en/complete_vehicles/crazyflie2.html#flashing-px4)

Has this line

But nuttx-config is not at https://github.com/PX4/Firmware/blob/master/platforms/nuttx/nuttx-configs/crazyflie/nsh/defconfig#L934 and search does not find CONFIG_DEV_LOWCONSOLE

What should this say/where is the link?

[2019-05-27 05:40] hamishwillee opened #487 "Aero Ready to Fly Drone - SENS_EN_LEDDAR1 errpr"
On [Intel® Aero Ready to Fly Drone](https://docs.px4.io/master/en/complete_vehicles/intel_aero.html) there is a link to SENS_EN_LEDDAR1 that has been replaced by SENS_LEDDAR1_CFG

What port option is this in QGC? TELEM1?

[2019-05-27 06:39] hamishwillee opened #488 "Lightware SFxx Lidar - What do and should we support"
[Lightware SFxx Lidar ](https://docs.px4.io/master/en/sensor/sfxx_lidar.html) lists a few rangefinders.
1. Lightware only LISTS these ones -https://lightware.co.za/pages/product-overview
   - should we be moving the ones that they aren't supporting anymore into separate list - ie SF02, 10A, 10B, 10C
   - Do we support the other models listed here?
1. We say LW20 , but spec refers to LW20/B, LW20C,

[2019-05-27 07:11] hamishwillee opened #490 "QuadPlane Configuration - VT_TRANS_THR does not exist"
[QuadPlane Configuration > Transition throttle](https://docs.px4.io/master/en/config_vtol/vtol_quad_configuration.html#transition-throttle)

This links to VT_TRANS_THR which does not exist. Did it get replaced or disappear?

@RomanBapst Is this a question for you?

[2019-05-27 07:44] hamishwillee opened #491 "Omnibus F4 SD - which board on hobbywing?"
[Omnibus F4 SD](https://docs.px4.io/master/en/flight_controller/omnibus_f4_sd.html#where-to-buy) first "where to buy link" is broken - ie where it says

Which one of these boards is the actual link here: http://a.hobbywing.com/category.php?id=76&filter_attr=.

[2019-05-27 07:56] bkueng commented on #487
Yes it's telem1

[2019-05-27 07:57] bkueng commented on #488
@DanielePettenuzzo might know

[2019-05-27 08:10] bkueng commented on #491
This one is the replacement: http://a.hobbywing.com/goods.php?id=636&filter_attr=
I can confirm it's working.

[2019-05-27 12:05] hamishwillee opened #494 "TBS Caipiroshka (Pixracer) - links no longer available"
[TBS Caipiroshka (Pixracer) · PX4 User Guide](https://docs.px4.io/master/en/frames_vtol/vtol_tailsitter_caipiroshka_pixracer.html)

These links are reporting as broken
- ./_book/en/frames_vtol/vtol_tailsitter_caipiroshka_pixracer.html
  *  External link http://www.eflight.ch/pi/ePower-X-22081.html failed: 404 No error
  *  External link http://www.eflight.ch/shop/USER_ARTIKEL_HANDLING_AUFRUF.php?v

[2019-05-27 12:08] hamishwillee opened #495 "Doc Bug: Wing Wing Z84 (Pixracer) - Where find ePower-Pro-12A?"
[Wing Wing Z84 (Pixracer) · PX4 User Guide](https://docs.px4.io/master/en/frames_plane/wing_wing_z84.html)

Broken link to http://www.eflight.ch/pi/ePower-Pro-12A.html failed - any ideas where it might be sourced?

[2019-05-27 17:13] dagar commented on #486
All board specifics are under `boards/` now. Here's the updated link.
https://github.com/PX4/Firmware/blob/master/boards/bitcraze/crazyflie/nuttx-config/nsh/defconfig

The defconfigs have also been compressed, which means they only contain the non-default values. For changing defconfig values you really should use `menuconfig`.

    `make bitcraze_crazyflie_default menuconfig`
  or
    `make bitcr

[2019-05-28 00:13] #491 closed

[2019-05-28 00:13] hamishwillee commented on #491
Thanks!

[2019-05-28 00:17] hamishwillee commented on #488
Thanks @bkueng - one question still there for you "should we be moving the ones that they aren't supporting anymore into separate list - ie SF02, 10A, 10B, 10C". Ie we support them, but I don't want to recommend them.

@DanielePettenuzzo any ideas on what versions of LW20 we support? Is there a good way of us making sure we keep in step with lightware?

[2019-05-28 06:11] #486 closed

[2019-05-28 07:35] bkueng commented on #494
The Caipirinha is probably not available anymore, but there's the version 2 that might work as well: https://team-blacksheep.com/products/prod:tbs_caipi2_pnp

[2019-05-28 07:35] bkueng commented on #495
The only place I find it is on hobbyking: https://hobbyking.com/de_de/wing-wing-z-84-epo-845mm-kit.html?___store=de_de

[2019-05-28 07:47] #487 closed

[2019-05-28 07:49] bkueng commented on #488
Yes that makes sense.

[2019-05-28 22:39] hamishwillee commented on #495
Hi @bkueng - that links is for the wing wing, not the ePower pro esc. Search doesn't surface it.

[2019-05-28 23:27] hamishwillee commented on #488
Thanks @bkueng - discontinued now separated out.

@DanielePettenuzzo Please let me know:
- Do we support the other models in https://lightware.co.za/pages/product-overview
- Do we have a roadmap for supporting the others.
- We say we support LW20 , but spec refers to LW20/B, LW20C, LW20/SER/X - which do we actually support? All?

[2019-05-28 23:39] hamishwillee commented on #494
Thanks. I added that link, but there are still the other ones above missing. I'll close this and let's follow up in PR above.

[2019-05-28 23:40] #494 closed

[2019-05-29 08:04] bkueng commented on #495
Ha, I should read properly.
For that it doesn't really matter, pretty much any small, >=12A ESC will do. For example this: https://www.brack.ch/lumenier-regler-30a-blhelis-esc-opto-2-4s-589152?query=esc&redirected=1

[2019-05-30 01:58] hamishwillee commented on #495
Thanks very much! Fixed.

[2019-05-30 01:58] #495 closed

[2019-06-02 23:13] hamishwillee commented on #434
CLosing this for now. We have no further concrete actions, so there is nothing to do.

[2019-06-02 23:13] #434 closed

[2019-06-11 00:25] #474 closed

[2019-06-18 15:33] firegrock opened #504 "The whole block diagram control scheme with all regulators"
Hello!

Where I can found the whole block diagram control scheme of px4 with all levels of regulators in which one can be seen all params of PIDs (mc_pitchrate_p, mc_yawrate_d and e.t.c.)?

Thank you!

[2019-06-27 05:05] hamishwillee commented on #504
In the developer guide, at and below this point: https://dev.px4.io/master/en/concept/architecture.html

[2019-06-27 05:05] #504 closed

[2019-07-08 12:50] tuloski opened #514 "Not clear OFFBOARD mode"
Here https://docs.px4.io/en/flight_modes/offboard.html it's written that in OFFBOARD mode the vehicle position, velocity, or thrust (SET_POSITION_TARGET_LOCAL_NED) can be controlled.

What does the OR stands for? What if I send a SET_POSITION_TARGET_LOCAL_NED with position AND velocity (AND thrust)? Or should I only pick one to send (position or velocity or thrust)?

Can we have more info on how t

[2019-07-09 00:04] hamishwillee commented on #514
@julianoes Can you comment on whether you can control position, velocity and thrust at the same time in offboard mode  with [SET_POSITION_TARGET_LOCAL_NED](https://mavlink.io/en/messages/common.html#SET_POSITION_TARGET_LOCAL_NED)? Or can you only control one.

Looking at the code you can *set* them all, but I can't work out whether the system will try an act on a setpoint that specifies position,

[2019-07-09 07:08] tuloski commented on #514
Yeah same. I'll try to look better at the code to understand this.

[2019-07-09 12:27] julianoes commented on #514
No idea, I'd have to do the same, sorry. Maybe @MaEtUgR or @Stifael know.

[2019-07-17 10:13] hamishwillee opened #526 "Improve entry point docs."
Docs currently
- direct users based on whether they are RTF, want to build a drone, or want to contribute to a new frame type: https://docs.px4.io/master/en/#how-do-i-get-started
- Describe the minimal/basic setup, but we don't say who that is for: https://docs.px4.io/master/en/assembly/

Action here is to look at best way to address markets - e.g. search and rescue,  cargo vs ?

Also to look at d

[2019-07-18 13:14] roberthdevries opened #529 "Intel Aero Ready to Fly Drone links are broken"
The first two links in the article [Intel Aero Ready to Fly Drone](https://docs.px4.io/v1.9.0/en/complete_vehicles/intel_aero.html#intel-aero-ready-to-fly-drone) that point to https://software.intel.com/en-us/aero/dev-kit are broken.

Apparently the Intel Aero product is [discontinued](https://www.intel.com/content/www/us/en/support/products/97174/drones/development-drones/intel-aero-products.html

[2019-07-19 02:07] hamishwillee commented on #529
Thanks. This is true. We're having a discussion internally in the dev team about whether this is the right time to mark the vehicle as such. I'm going to make an executive decision to do so :-). PR to follow.

[2019-07-22 11:12] #529 closed

[2019-08-01 05:45] hamishwillee commented on #514
Tried to get an answer here: https://px4.slack.com/archives/C3B9NSHRQ/p1564638280024600

[2019-08-01 09:00] Stifael commented on #514
SET_POSITION_TARGET_LOCAL_NED will eventually be handled in FlightTaskOffboard and currently it supports the following combination of setpoints: https://github.com/PX4/Firmware/blob/master/src/lib/FlightTasks/tasks/Offboard/FlightTaskOffboard.cpp#L166-L170

Important to know it that there is no support for acceleration (independent of FlightTask), but rather acceleration is mapped directly to thru

[2019-08-01 09:11] Stifael commented on #514
However, I honestly would first test if the current mavlink_interface actually is doing the right mapping (https://github.com/PX4/Firmware/blob/master/src/modules/mavlink/mavlink_receiver.cpp#L810-L819)

A long time ago I started this branch (https://github.com/Stifael/Firmware/commit/afab1f6c3e277f3f8d682dfcf57f1715f6cb8795) together with this mavsdk changes (https://github.com/mavlink/MAVSDK/pul

[2019-08-02 06:52] MaEtUgR commented on #514
It's part of #12072. I wanted to be finished a long time ago but found small bugs and was always interrupted while fixing them with "more important" things. My next goal is to really finish this up now.

[2019-08-05 02:16] hamishwillee commented on #514
Thanks very much @Stifael and @MaEtUgR . I have created #545 to fix this - reflecting exactly what it says is supported in code. Note that I haven't actually "checked" the assignment - bit out of scope for a doc update.

[2019-08-06 00:21] #514 closed

[2019-08-11 23:36] hamishwillee opened #553 "Add docs around Ethernet support"
FMUv5x supports Ethernet. It is [too early](https://github.com/PX4/Firmware/pull/12666#issuecomment-519741227) to fully document support - this is a placeholder so we don't forget the questions:

1. What is the "user facing" story for ethernet"
2. Is there any developer side stuff that needs to be captured too?

The sorts of things we might cover are:
- Any special enabling or config end users nee

[2019-08-11 23:37] hamishwillee commented on #553
This is assigned to you David. Mostly because you are the "trigger" to let me know when this work can be done.

[2019-08-18 23:03] hamishwillee opened #560 "D-Shot ESCs and Motor Docs"
Create DShot page as sub-page of [ESCs & Motors · PX4 User Guide](http://docs.px4.io/master/en/peripherals/esc_motors.html). This is dependent on https://github.com/PX4/Firmware/pull/12634

Discussion
- https://github.com/PX4/Firmware/pull/12634#issuecomment-521944474
- https://github.com/PX4/Firmware/pull/12634#issuecomment-521828037

[2019-08-20 06:00] hamishwillee opened #561 "Document mappydot distance sensor"
https://github.com/PX4/Firmware/pull/12147

@mhkabir You did the work on this right? Can you create some basic docs, or talk me though it in bullet form here. Not much point adding a driver for anything without how to use docs.

[2019-08-20 06:34] mcsauder commented on #561
@hamishwillee , I wrote this driver, i am glad to help with the docs. Let me get a start on it and ask for your help to polish things up!

[2019-08-20 06:57] hamishwillee commented on #561
Thanks @mcsauder - much appreciated!

Just to give you a starting point
1. Good to have some docs here: https://dev.px4.io/master/en/middleware/modules_driver_distance_sensor.html but you can do those last
2. Distance sensors typically have a very high level introduction here: http://docs.px4.io/master/en/sensor/rangefinders.html - mostly this is just a very high level introduction to the sensor a

[2019-08-23 03:03] hamishwillee opened #565 "Return Mode - RTL_TYPE needs documentation"
Need to update docs with info about [RTL_TYPE](http://docs.px4.io/master/en/advanced_config/parameter_reference.html#RTL_TYPE), and specifically the fact that it is enabled by default on FW - https://github.com/PX4/Firmware/pull/12770

Note, more information on mission rtl here: https://github.com/PX4/Firmware/pull/8749#issue-164587248

*  [ ] depending on timing, may also need update for [Rally p

[2019-08-23 03:14] hamishwillee commented on #565
@RomanBapst Saw your note in https://github.com/PX4/Firmware/pull/12770#issuecomment-523772935 thanks. A couple of questions:
1. Does mission mode landing just mean a mission with a waypoint set using [MAV_CMD_NAV_LAND](https://mavlink.io/en/messages/common.html#MAV_CMD_NAV_LAND)?
2. Does this type apply to MC as well - or just FW and VTOL?
3. Is it default for VTOL and MC too?
4. Do all the RTL_T

[2019-08-23 14:34] Antiheavy commented on #565
If it's okay I'll take a stab at some answers:

In this context several things are required: 1) a DO_LAND_START https://mavlink.io/en/messages/common.html#MAV_CMD_DO_LAND_START, 2) at least one position waypoint, and 3) a Land waypoint https://mavlink.io/en/messages/common.html#MAV_CMD_NAV_LAND.  These items are required at a minimum to define a landing pattern that can be used for RTL_TYPE 1 and

[2019-08-28 23:13] hamishwillee opened #567 "COM_PREARM_MODE Docs needed"
Flows from https://github.com/PX4/Firmware/pull/12806#discussion_r318337567

Reproduced below a bit:

So would I be correct in saying
- Disabled means that this mode doesn't exist - if you try and arm you just go from disarmed to armed.
- Safety button means that you enter this mode when you press the safety button. How then do you move forward to armed?
- Always means that you just go to this mod

[2019-08-29 00:24] hamishwillee commented on #565
Thanks @Antiheavy . I've been dragged away to other tasks. This is very helpful though, and I will get back to it soon

[2019-09-02 00:22] hamishwillee commented on #567
Not quite sure where this should go. Not as simple as you might think because we don't talk much about the safety switch or arming, and there is some overlap

So proposal is:
1. Add heading for "Arming/Disarming" in [Basic concepts](http://docs.px4.io/master/en/getting_started/px4_basic_concepts.html). This covers the concept.
1. Add heading for "safety switch" in [Basic concepts](http://docs.px4.

[2019-09-02 05:42] hamishwillee commented on #565
@Antiheavy @RomanBapst So historically for a VTOL, on return it would ALWAYS transition back to MC mode and land at home.

Can you confirm what happens now?
1. IF there is no mission or there is a mission but no mission land sequence, will it just switch to MC and land at home?
2. If there is a mission with a mission land sequence, does this mean that it lands as an FW, or is that something that i

[2019-09-02 06:29] hamishwillee commented on #565
@Antiheavy , @RomanBapst RTL)TYPE = 2 is

How does this work (a) if you're in a mission, (b) if you're not.

If you're in a mission it reads like "if there is a landing sequence just continue to it, but if not, reverse your mission back to the beginning"
- Is that correct?
- When you get back to the beginning of the mission, what do you do? Just circle/follow what the RTL_LAND_DELAY parameter says

[2019-09-02 07:06] hamishwillee commented on #565
And last of all, does it obey the "cone" params for MC (http://docs.px4.io/master/en/flight_modes/return.html#multi-copter-mc) in FW and VTOL modes?

[2019-09-03 06:43] #567 closed

[2019-09-03 14:45] Antiheavy commented on #565
Last I tested in SITL (long time ago) this is basically correct.  The RTL=2 will follow the mission waypoints forward to the planned landing pattern, however, it will skip over loiters that have time delay or other elements like that and just keep going right through all the waypoints to the end with the landing.  If no landing pattern is there, the RTL=2 will reverse the mission, skipping over an

[2019-09-03 22:32] hamishwillee commented on #565
Thanks!

[2019-09-05 02:36] hamishwillee commented on #565
Thanks for all your help @Antiheavy - you can see the fruits of this in https://github.com/PX4/px4_user_guide/pull/571

[2019-09-16 03:18] #137 closed

[2019-09-16 03:18] #565 closed

[2019-09-19 13:48] waytry opened #576 "Crazyflie2.0 how to config "make bitcraze_crazyflie_default qconfig""
[Crazyflie 2.0 · PX4 User Guide](https://docs.px4.io/master/en/complete_vehicles/crazyflie2.html#flashing-px4) has the following

Everything worked fine and "make bitcraze_crazyflie_default upload" was successful initially. But after I

and "make bitcraze_crazyflie_default upload" again, I received the following error message:

It seems like it's something related to the _undefined reference to `s

[2019-09-20 01:15] hamishwillee commented on #576
This sounds like a bug. Can you please post in https://github.com/PX4/Firmware/issues/.

Note that there other other [bugs that might be relevant](https://github.com/PX4/Firmware/search?q=crazyflie&type=Issues)

[2019-09-20 01:15] hamishwillee commented on #576
(and cross link to this!)

[2019-09-20 02:15] waytry commented on #576
@hamishwillee Thanks for the reply. The issue is posed [here](https://github.com/PX4/Firmware/issues/12996).

[2019-09-20 11:24] #576 closed

[2019-09-21 08:39] looninho opened #577 "Doc Bug: BetaFPV Beta75X 2S Brushless Whoop · PX4 v1.9.0 User Guide"
No Air Frame: BetaFPV Beta75X 2S Brushless Whoop in QGC

Bug Page: [BetaFPV Beta75X 2S Brushless Whoop · PX4 v1.9.0 User Guide](https://docs.px4.io/v1.9.0/en/complete_vehicles/betafpv_beta75x.html)

[2019-09-23 04:53] hamishwillee commented on #577
Are you sure? I can see it in the [Airframe reference](https://docs.px4.io/v1.9.0/en/airframes/airframe_reference.html#copter_quadrotor_h_betafpv_beta75x_2s_brushless_whoop). Did you look in Quadrotor H?
![image](https://user-images.githubusercontent.com/5368500/65402448-bb517980-de11-11e9-874b-65cf50fc3ada.png)
I tested against master branch, but you should still see this in 1.9 because QGC uses

[2019-09-23 19:35] looninho commented on #577
Yes, thank you, found it in H frame. I was looking in X frame!

I found it more stable than betaflight but I have to tune the PID in yaw axis because it woobles when descending and rotates when I lower the throttle.

I'm searching to make OSD working. If a good man can implement the flip after crash mode...

best regards

[2019-09-24 00:00] hamishwillee commented on #577
Thanks for confirming. If you have general questions, best place to start is https://discuss.px4.io/

[2019-09-24 00:00] #577 closed

[2019-09-24 07:20] bkueng commented on #577
Let me know when you have better tuning gains. FYI master has switched to 1kHz rate loop and there's a PR for DShot (which I already tested on the whoop) - both improve the flight performance.

[2019-10-01 13:18] torbrodtkorb opened #585 "Doc Bug: Pixhawk 4 Mini Wiring Quickstart · PX4 v1.9.0 User Guide"
Mislabled voltage sensor, should be 0-60V note text below.

The pinout of the Pixhawk 4 Mini POWER port is shown below. The CURRENT signal should carry an analog voltage from 0-3.3V for 0-120A as default. The VOLTAGE signal should carry an analog voltage from 0-3.3V for **0-60A** as default. The VCC lines have to offer at least 3A continuous and should default to 5.1V. A lower voltage of 5V is sti

[2019-10-01 23:27] hamishwillee commented on #585
Thanks very much. Fixed in this version by https://github.com/PX4/px4_user_guide/commit/5fcc1266ed16490f32d3a1e9c4ee468883ffb641 and in master branch of docs by https://github.com/PX4/px4_user_guide/commit/bc2caac31a53fd99854683beea50c98d6facbfa8

[2019-10-01 23:27] #585 closed

[2019-11-10 21:01] hamishwillee opened #604 "Camera Capture Driver docs"
Hi @DanielePettenuzzo

You got a plan to do these docs as you stated in the links below?
https://github.com/PX4/Firmware/pull/10295
https://github.com/PX4/Firmware/pull/11395

Cheers
H

[2019-11-19 18:36] RomanBapst opened #615 "Add docs regarding neutral attitude for tailsitters"

[2019-11-19 18:36] RomanBapst commented on #615
See e.g. https://discuss.px4.io/t/vtol-duo-tailsitter-config/9695

[2019-11-24 22:11] hamishwillee opened #620 "RTL/Rally Points need update"
Changed in master after 1.10. Changes in this PR https://github.com/PX4/Firmware/pull/13320

[2019-11-25 23:39] #620 closed

[2019-11-26 04:34] bys1123 commented on #560
This is merged PX4/Firmware#12854, looking forward the documentation.

[2019-11-26 06:29] bkueng commented on #560
Docs are also completed: https://github.com/PX4/px4_user_guide/pull/578
https://docs.px4.io/master/en/peripherals/dshot.html

[2019-11-26 06:29] #560 closed

[2019-12-09 02:59] xdwgood commented on #490
@hamishwillee

`VT_F_TRANS_THR`---> Target throttle value for the transition to fixed wing flight.
`VT_B_TRANS_THR`---> Target throttle value for the transition to hover(Multi-rotor) flight

But I didn't find the setting of transmission throttle in tailsitter type

[2019-12-11 01:22] hamishwillee commented on #490
Thanks. We need @RomanBapst to comment - it isn't just a matter of replacing the existing parameter in docs.

[2019-12-11 01:54] xdwgood commented on #490
Yes, I already know that in tailsitter drones, the thrust when switching to fixed-wing mode is generated by multi-rotor altitude control
Instead of a parameter, we do need to clarify some instructions :smiley:

[2019-12-18 05:16] Gdesert opened #629 "Doc Bug: Developer Environment Installation · PX4 v1.9.0 User Guide"
DESCRIBE PROBLEM WITH DOCS HERE

Bug Page: [Developer Environment Installation · PX4 v1.9.0 User Guide](https://docs.px4.io/v1.9.0/en/flight_controller/snapdragon_flight_dev_environment_installation.html)

[2019-12-19 00:22] hamishwillee commented on #629
Looks like a false post.

[2019-12-19 00:22] #629 closed

[2019-12-19 00:54] hamishwillee commented on #251
This is resolved by having the dev guide page https://dev.px4.io/master/en/advanced/computer_vision.html

Note, this is a dev-guide page. One day we should have a user-guide page, but that kind of depends on computer vision being more turnkey.

[2019-12-19 00:54] #251 closed

[2020-02-25 13:01] jmb2si opened #669 "Doc Bug: Introduction · PX4 User Guide"
DESCRIBE PROBLEM WITH DOCS HERE

Bug Page: [Introduction · PX4 User Guide](https://docs.px4.io/master/en/index.html)

[2020-02-25 14:52] #669 closed

[2020-02-28 14:21] davids5 commented on #417
@dagar did this make it somewhere?

[2020-03-18 10:05] vivienJ opened #685 "Doc Bug: Hex Cube (Pixhawk 2) (FMUv3) · PX4 User Guide"
DESCRIBE PROBLEM WITH DOCS HERE

Bug Page: [Hex Cube (Pixhawk 2) (FMUv3) · PX4 User Guide](https://docs.px4.io/master/en/flight_controller/pixhawk-2.html)

Hello, there is a mistake in the pdf link here "(The datasheet from Hex manufacturing can be found here." (http://www.hex.aero/wp-content/uploads/2016/07/DRS_Pixhawk-2-17th-march-2016.pdf)
Page 15 in the table "Power 6 pos" the BATT_VOLTAGE_SEN

[2020-03-19 01:41] hamishwillee commented on #685
Can you please tell me the exact PDF, at that link I see the same PDF - http://www.hex.aero/wp-content/uploads/2016/07/DRS_Pixhawk-2-17th-march-2016.pdf

[2020-03-19 18:00] vivienJ commented on #685
Yes this is the PDF link on the PX4 documentation at the line "The datasheet from Hex manufacturing can be found here". It is the one who has an  error page 15.

[2020-03-20 01:35] hamishwillee commented on #685
I mean that I can't work out which PDF you are talking about that has the fix.

[2020-03-20 01:36] hamishwillee commented on #685
Hi @proficnc Do you think you could confirm the error in http://www.hex.aero/wp-content/uploads/2016/07/DRS_Pixhawk-2-17th-march-2016.pdf and point to an updated version?

[2020-03-25 04:38] #417 closed

[2020-03-26 17:28] bys1123 opened #699 "USB Port numbers and version are very confusing in PX4 Vision Kit docs"
Suggest use USB 2.0/3.0 for version numbers.
![image](https://user-images.githubusercontent.com/4748411/77677051-213dda00-6fca-11ea-89b4-260147091e85.png)
![image](https://user-images.githubusercontent.com/4748411/77677084-2d299c00-6fca-11ea-9b7e-3e627cad46fa.png)
@Jaeyoung-Lim

[2020-03-26 17:48] Jaeyoung-Lim commented on #699
@bys1123 Thanks for the feedback. Would it be possible to open a PR that fixes the confustion? thanks

[2020-03-26 18:32] bys1123 commented on #699
@Jaeyoung-Lim No problem, I'll do that tomorrow.

[2020-03-26 21:58] hamishwillee commented on #699
@Jaeyoung-Lim @bys1123 I made the fixes in https://github.com/PX4/px4_user_guide/commit/ed17b1e1000e8e426f69868c41f3f1d9129188f6

BUT this is not the solution. The solution is for the casing to be given better labeling - i.e. USB1 > USB-1, USB2 > USB-2, UART1 to UART-1
@jinger26 Can you request this?

[2020-03-26 21:58] #699 closed

[2020-03-27 02:12] bys1123 commented on #699
Why? I don't see many products labeled with "-" on casing.

[2020-03-27 02:16] bys1123 commented on #699
It makes you can only see the "-" when you first get the product.
Same - element - are - easy - to - be - connected - in - your - mind

[2020-03-27 02:46] hamishwillee commented on #699
@bys1123 Because every time someone sees USB2 or USB3 on the case they think it is a USB2 or USB3 port.

@jinger26 Perhaps a better way might be to use a #. So `USB#1`, `USB#2` - since # actually means "number".

[2020-03-27 03:18] bys1123 commented on #699
I would suggest `USB①` `USB②` `USB③`

[2020-03-27 03:38] hamishwillee commented on #699
Sure. I don't care as long as it is clearly a number and not a USB version :-)

[2020-03-27 07:16] bys1123 commented on #699
Just checked some designs, is the numerical layout really necessary
![image](https://user-images.githubusercontent.com/4748411/77731422-dbbaf480-703d-11ea-995f-2f2c7cb7fd05.png)

[2020-04-01 05:31] jamming commented on #699
It is very difficult to clearly printing some symbols(such as '#' or '②' )on the 3D print case. So in the next batch of products, all USB 2 version ports will be identified as 'USB2.0'.  All USB 3 version ports will be identified as 'USB3.0'.  USB port number will no longer be printed on the case.

[2020-04-01 05:37] bys1123 commented on #699
![image](https://user-images.githubusercontent.com/4748411/78102854-edc1dc00-741d-11ea-87e5-3160b41b7bef.png)
@jamming Will this works?

[2020-04-01 07:48] hamishwillee commented on #699
@jamming That's disappointing, but pragmatic and workable.

[2020-04-02 01:40] jamming commented on #699
@bys1123
①② can't clearly printing on the 3D print case

[2020-04-03 03:14] #685 closed

[2020-04-03 03:14] hamishwillee commented on #685
Thanks @vivienJ and @proficnc  Fixed.

[2020-04-20 08:23] Jaeyoung-Lim opened #725 "Airframe config for tricopter configuration not correct"
Inoticed that the airframe config for the tricopter airframe have incorrect prop directions.

As in: https://docs.px4.io/master/en/airframes/airframe_reference.html#tricopter-y

@hamishwillee How is the image generated? The prop layout is only marked on the image and I am not sure how we can change this

[2020-04-20 08:56] sfuhrer commented on #725
The direction of the propellers isn't taken into account by the software, we should add this comment there. And also change the picture to have the front propellers turning in opposite directions, as this is how you do it for all systems I know.

[2020-04-21 01:52] hamishwillee commented on #725
This page is built from the airframe definititon - so any comments have to be added there.

I actually don't know where/how these images are created, but they need to also be changed in the Devguide and in QGC.

@bkueng Do you know where the images come from/what tools are used to create them?

[2020-04-21 07:00] bkueng commented on #725
I used inkscape in the past, but don't know where they come from.

[2020-04-21 07:06] hamishwillee commented on #725
@julianoes Any ideas on where we get images for the airframes - or who might know?

[2020-04-21 08:41] julianoes commented on #725
No idea.

[2020-05-20 15:44] George-avy opened #740 "Doc Bug: VTOL w/o Airspeed Sensor · PX4 User Guide"
The page states:

whereas the correct value for FW_ARSP_MODE for disabled airspeed is 1, as per https://docs.px4.io/master/en/advanced_config/parameter_reference.html#FW_ARSP_MODE

Bug Page: [VTOL w/o Airspeed Sensor · PX4 User Guide](https://docs.px4.io/master/en/config_vtol/vtol_without_airspeed_sensor.html)

[2020-05-20 15:50] George-avy commented on #740
Same a bit below on the page:

    FW_ARSP_MODE: Declare invalid (2)

[2020-05-21 02:17] #740 closed

[2020-05-21 02:19] hamishwillee commented on #740
Thanks @George-avy - much appreciated.
Fixed in master, v1.11 and v1.10 docs brances.

[2020-06-15 09:15] bigbellmercy opened #753 "Doc Bug: Sensor Thermal Compensation · PX4 User Guide"
LOCATION:
In the section 'Offboard Calibration Procedure', there is no. 12 step as below:
"12. Power the board and perform a normal accelerometer sensor calibration using QGroundControl. It is important that this step is performed when board is within the calibration temperature range. The board must be repowered after this step before flying as the sudden offset changes can upset the navigation e

[2020-06-15 23:34] hamishwillee commented on #753
@bigbellmercy When you calibrate the accelerometer (normally, not as part of this procedure) it should save the value of your calibration in parameters. Otherwise there is no point in ever calibrating the accelerometer. Are you saying that when you calibrate your hardware the values are never saved?

If so, on what hardware?

[2020-06-16 00:02] bigbellmercy commented on #753
Yes, it is. The values are never saved in the procedure with Pixhawk2.1. (But, in normal calibration the values are saved well)

[2020-06-16 00:21] hamishwillee commented on #753
In step 11 you're resetting the system back to "normal". So at this point you **are** doing a normal calibration. It is weird if calibration works before this setup, but not after.

If you reboot after step 11 and then reboot again would calibration work (or to put it another way, how do you get it back to normal in order to do a normal calibration?)

[2020-06-16 00:22] hamishwillee commented on #753
@MaEtUgR In step 12 of [offboard thermal calibration](https://docs.px4.io/master/en/advanced_config/sensor_thermal_calibration.html#offboard_calibration) there is a final accelerometer calibration that appears to be ignored on Cube.
Accelerometer calibration outside of this process appears to work.

Advice please [I've asked @bigbellmercy for a little more information above]

[2020-06-16 01:02] bigbellmercy commented on #753
If the parameters TC_A_ENABLE, TC_B_ENABLE and TC_G_ENABLE are reset to zero, normal calibration is possible.

But those parameters must be kept to 1 to utilize the result of thermal calibration I think. When the parameters are reset to zero all the TC_ parameters are disappeared in QGC.

[2020-06-16 05:36] bigbellmercy commented on #753
Another information:

I found now that there is a possibility that it may not be a problem. After thermal calibration, those normal calibration parameters may become the default values (1 or 0) because the thermal calibration compensated completely all the offsets of sensors and there are no offset remained for compensation. So users may think wrong that the sensor calibration parameter values are

[2020-06-16 23:00] hamishwillee commented on #753
Thanks. I can't really comment until we have feedback from @MaEtUgR  (or others) on expected behaviour.

[2020-06-17 06:06] MaEtUgR commented on #753
Exactly. When the board is thermal calibrated the normal calibration parameters `CAL_` are not used anymore also not for the normal calibration. Instead the normal calibration incorporates its result into the thermal calibration parameters `TC_` that are in use.

[2020-08-06 15:09] mrpollo opened #784 "Doc Bug: Drotek Pixhawk 3 Pro (FMUv4pro) · PX4 User Guide"
Link to pixhawk.drotek.com is no longer valid.

![Screen Shot 2020-08-06 at 8 08 47 AM](https://user-images.githubusercontent.com/317648/89548603-17b85000-d7bc-11ea-971a-c28f4358c5bd.png)

Bug Page: [Drotek Pixhawk 3 Pro (FMUv4pro) · PX4 User Guide](http://docs.px4.io/master/en/flight_controller/pixhawk3_pro.html)

[2020-08-10 01:43] hamishwillee commented on #784
Hi @Paul-DROTEK The link to "Main hardware documentation" formerly at https://pixhawk.drotek.com/en/ no longer works. Can you point me to the updated link? Obviously I don't know exactly what is at that link, but I am expecting design files like at https://github.com/pixhawk/Hardware

[2020-08-10 07:19] Paul-DROTEK commented on #784
Hi @mrpollo and thanks @hamishwillee for reaching out to me.

I am not really sure what happen with the dead link above.
Nonetheless you are still able to reach our gitbook product page related to the Pixhawk 3 Pro by using the link below :
https://drotek.gitbook.io/pixhawk-3-pro/

The hardware and pinout ressources are accessible here : https://drotek.gitbook.io/pixhawk-3-pro/hardware

Please @ha

[2020-08-11 01:59] #784 closed

[2020-08-11 02:00] hamishwillee commented on #784
Thanks @Paul-DROTEK - those links look good.

FWIW They probably actually wanted open-design schematics, but I am pretty sure that these were not supplied (ever) for this FMU version/board. Your links are the "right replacements" that I wanted here :-)

[2020-08-28 18:20] mrpollo opened #793 "Cube Yellow/Orange PX4 support is community contributed"
The current **Manufacturer Supported Autopilots** has the Cube Yellow & Orange listed, while community members gave the contributions and support.

I propose we move them both to the Experimental category, with a NOTE that reads as follows.

Bug Page: [Manufacturer-Supported Autopilots · PX4 User Guide](http://docs.px4.io/master/en/flight_controller/autopilot_manufacturer_supported.html)

[2020-08-28 18:21] mrpollo commented on #793
@jinger26 we probably need to update this list as well https://px4.io/autopilots/

[2020-09-28 23:51] hamishwillee opened #816 "MAVLink Router - better linking and highlight in docs"
The [MAVLink router](https://github.com/intel/mavlink-router) is documented in [Devguide > Companion Computer Setup](https://dev.px4.io/master/en/companion_computer/pixhawk_companion.html#companion-computer-setup).

This is important enough that we add it in some other key places - ie own page in PX4 Devguide and also in MAVLink guide under https://mavlink.io/en/guide/routing.html

There was a sla

[2020-09-30 01:55] hamishwillee opened #818 "Circuit breaker logic deep dive"
Analyse this post and see what could be captured into our docs: https://discuss.px4.io/t/blog-deep-dive-analysis-on-px4s-circuit-breaker-logic/18143

[2020-10-11 05:33] muramura opened #826 "Doc Bug: PMW3901 · PX4 User Guide"
DESCRIBE PROBLEM WITH DOCS HERE

Bug Page: [PMW3901 · PX4 User Guide](https://docs.px4.io/master/en/sensor/pmw3901.html#thone_thoneflow_3901U)

PR #12148 has been merged.

「This sensor is not yet supported - waiting on https://github.com/PX4/Firmware/pull/12148」

[2020-10-13 23:11] #826 closed

[2020-10-13 23:12] hamishwillee commented on #826
Thanks very much. FYI You can always make these kind of PRs yourself - just click the edit button on any page to create a PR

![image](https://user-images.githubusercontent.com/5368500/95925544-c9e84580-0e05-11eb-81b1-128e9a975813.png)

[2020-10-14 19:05] moreba1 commented on #199
@hamishwillee
I think that Emlid reach m+ does not support currntly even for GPS only.

[2020-10-14 21:21] hamishwillee commented on #199
Thanks @moreba1
I'm going to close this as "not supported" until someone tells me that it is supported.

[2020-10-14 21:21] #199 closed

[2020-10-20 22:43] #615 closed

[2020-10-21 05:27] #753 closed

[2020-11-09 20:37] RicardoM17 opened #869 "Links to older versions broken with new build"
The links from current master no longer redirect to the same page in the older version but instead redirect to the main docs page.

Also for V1.10 it redirects to the QGC docs instead.

Issue raised by Andrew Saba on PX4 slack #documentation channel

@hamishwillee FYI

[2020-11-09 22:19] hamishwillee commented on #869
Known issue. Not easy to fix.

Yes, that's a bug. I will fix tomorrow.

[2020-11-10 22:08] hamishwillee commented on #869
OK, so the qgc link is fixed by https://github.com/PX4/PX4-user_guide/commit/45a1c39f9c4582ac69eb58db709a2987b0dee1d6

[2020-11-10 22:12] hamishwillee opened #872 "Dynamic version switcher for Vuepress docs"
Add new version switcher for vuepress installation that more closely matches the old gitbook one:
- Version info dynamically updated from a single source config file (this allows old version to be updated without having to rebuild)
- Version info perhaps language aware? (ie you switch to same version in same language by default.
- Version switcher page aware - ie you switch to the same page in the

[2020-11-10 22:12] hamishwillee commented on #869
I am closing this. The requirement for the version switcher is more precisely noted in https://github.com/PX4/PX4-user_guide/issues/872
Thanks!

[2020-11-10 22:12] #869 closed

[2020-11-30 08:25] elpiel opened #928 "Anchor link does not expand side menu"
When opening a link with anchor, e.g.
https://docs.px4.io/master/en/simulation/#sitl-simulation-environment

The side menu doesn't expand on the `Development -> Simulation`

[2020-11-30 17:33] RicardoM17 commented on #928
The same happens here. Thanks for the feedback @elpiel . We recently changed our documentation build tools so it's "normal" that we have these issues. So it's good when people point them up.

[2020-11-30 19:28] elpiel commented on #928
No problems, looks nice and it's understandable to have some wrinkles to iron ;)

[2020-12-02 01:43] hamishwillee commented on #928
Well, this is a weird one. The vast majority of cases do work:
- https://docs.px4.io/master/en/modules/modules_command.html#dyn
- https://docs.px4.io/master/en/concept/flight_modes.html#flight-mode-summary
- https://docs.px4.io/master/en/flight_stack/controller_diagrams.html#multicopter-control-architecture
- https://docs.px4.io/master/en/debug/consoles.html#system-console-vs-shells

But then some

[2020-12-02 16:05] whataberk opened #941 "Doc Bug: Acro (MC) · PX4 v1.8.2-1.11 User Guide"
In the expo-describing equation: y=r(x^3+x(1−f))(1−g)/(1−g|x|) it does not appear to match the description or the code. I believe that it should be y=r(**f***x^3+x(1−f))(1−g)/(1−g|x|) based on the code from [here](https://github.com/PX4/PX4-Autopilot/blob/f13bbacd5277123d6af2cb5ed21587c220031353/src/lib/mathlib/math/Functions.hpp#L70), copied below:
[code]

This appears to affect all extant versio

[2020-12-08 17:54] RicardoM17 commented on #941
Hi @whataberk thanks for raising this. I see that this was merged to master - V1.10 in #942 .

@hamishwillee I closed this. Is that ok or are you planning to back port to even older versions? At this point it doesn't make much sense to support such old firmware/documentation IMO.

[2020-12-08 17:54] #941 closed

[2020-12-08 21:46] hamishwillee commented on #941
@RicardoM17 Thanks, I merged the fix and backported to the last couple of releases. Just missed that this was linked :-)

[2020-12-26 12:07] 1AwesomeDeveloper opened #979 "DeveloperBug: Flight Modes · PX4 Developer Guide"
DESCRIBE PROBLEM WITH DOCS HERE

Bug Page: [Flight Modes · PX4 Developer Guide](https://dev.px4.io/master/en/concept/flight_modes.html#flight-mode-evaluation-diagram)

In RTL it should be return to launch instead of return to land

[2020-12-27 22:03] hamishwillee commented on #979
Thanks. Fixed in https://github.com/PX4/PX4-user_guide/commit/ab3208f25863755acf5b712fc07ef8fd77f86409

[2020-12-27 22:03] #979 closed

[2021-01-02 08:42] rotorman opened #987 "Durandal Pinmap PDF currently linked, possibly wrong"
Please check the [Stm32H743IIK_pinmap.pdf](https://github.com/PX4/px4_user_guide/raw/master/assets/flight_controller/durandal/Stm32H743IIK_pinmap.pdf) (Durandal Pinmap) linked PDF in [https://docs.px4.io/master/en/assembly/quick_start_durandal.html#further-information](https://docs.px4.io/master/en/assembly/quick_start_durandal.html#further-information).

The PDF that is currently linked, reads in

[2021-01-19 06:23] boris-gu opened #1000 "Wrong port PX4 SITL - QGC"
The documentation says that for SITL it is port 14570, although in fact it is port 18570.
https://docs.px4.io/master/en/test_and_ci/docker.html#qgroundcontrol
The same error is present in the image here:
https://docs.px4.io/master/en/simulation/ros_interface.html#ros-with-gazebo-simulation

![image](https://user-images.githubusercontent.com/44787162/104995847-f2e92980-5a37-11eb-8cae-4d6ca589b78d.p

[2021-01-19 06:25] boris-gu commented on #1000
As a result, I managed to connect QGC to the simulation in the docker container by writing these values:
![image](https://user-images.githubusercontent.com/44787162/104996007-35ab0180-5a38-11eb-9e7e-66749efb9497.png)

[2021-01-20 02:03] hamishwillee commented on #1000
The SITL ports are [documented here](https://docs.px4.io/master/en/simulation/#sitl-simulation-environment) - as these indicate QGC normally connects on 14550

Can you please try that? Either way the 14570 is probably wrong.

[2021-01-20 03:09] hamishwillee commented on #987
@vincentpoont2 The file referred to here is the one hosted at http://www.holybro.com/manual/Durandal-Pinouts.pdf

Can you please comment?

[2021-01-20 04:56] boris-gu commented on #1000
@hamishwillee Forgive me, I do not quite understand this phrase: "18570 is supposed to be for sending to rather than listening for connections". English is not my native language.
If I understand correctly, it works like this - QGC listens on port 14550, on which it receives messages from the PX4 autopilot. In turn, the PX4 autopilot listens on port 18570 to receive information from the QGC.

[2021-01-20 06:33] hamishwillee commented on #1000
@boris-gu My understanding is that what normally happens is that QGC "listens" to port 14550 on the computer running PX4 - ie it waits for mavlink traffic before it starts broadcasting its heartbeat. The address it sends the UDP traffic back to is in the packet it gets which I presume is 18570.

I could be wrong on this, but I do know that 14550 works in almost every scenario. So I am hoping you c

[2021-01-20 07:36] rotorman commented on #987
I am not referring to this file, but the following:
[https://raw.githubusercontent.com/PX4/PX4-user_guide/master/assets/flight_controller/durandal/Stm32H743IIK_pinmap.pdf](https://raw.githubusercontent.com/PX4/PX4-user_guide/master/assets/flight_controller/durandal/Stm32H743IIK_pinmap.pdf)

[2021-01-20 08:34] vincentpoont2 commented on #987
@rotorman
The header of the pinout pdf is incorrect, but the pin information should be correct for Durandal.

I will reupload with the correct header.

[2021-01-20 08:37] vincentpoont2 commented on #987
[STM32H743IIK_pinout.pdf](https://github.com/PX4/PX4-user_guide/files/5841103/STM32H743IIK_pinout.pdf)
@hamishwillee can you update the pdf with this?

[2021-01-20 09:09] rotorman commented on #987
I compared the document with ArduPilot hardware definitions here:
[https://raw.githubusercontent.com/ArduPilot/ardupilot/master/libraries/AP_HAL_ChibiOS/hwdef/Durandal/hwdef.dat](https://raw.githubusercontent.com/ArduPilot/ardupilot/master/libraries/AP_HAL_ChibiOS/hwdef/Durandal/hwdef.dat)
and saw some minor differences, here listed all what I saw, either missing in PDF or missing in ArduPilot hwd

[2021-01-24 21:55] hamishwillee commented on #987
@vincentpoont2 Yes, on Wednesday :-). Do you want to check out the possible errors highlighted by @RicardoM17 in https://github.com/PX4/PX4-user_guide/issues/987#issuecomment-763454660 first?

[2021-01-24 21:56] hamishwillee commented on #1000
@bkueng can you advise on this one?

CI/Docker docs suggest connecting to PX4 hosted on docker using 14570. The Simulation docs suggest 14550. This issue suggests 18570, and the CI docs do mention configuration file in which this port does appear.

[2021-01-25 10:30] RicardoM17 commented on #987
wrong tag @hamishwillee. I believe you mean @rotorman instead :sweat_smile:

[2021-01-26 23:30] hamishwillee commented on #987
@vincentpoont2 To be very precise, can you please confirm:
1. you want me to replace all links to http://www.holybro.com/manual/Durandal-Pinouts.pdf to STM32H743IIK_pinout.pdf (linked in https://github.com/PX4/PX4-user_guide/issues/987#issuecomment-763432819). (note, I have put this into source tree [here](https://github.com/PX4/PX4-user_guide/raw/master/assets/flight_controller/durandal/STM32H743

[2021-01-27 02:27] vincentpoont2 commented on #987
![image](https://user-images.githubusercontent.com/46874772/105933520-87333c00-6089-11eb-9e01-759dbe8a16a5.png)
This document needs to be removed and replaced with this:
[STM32H743IIK_pinmap.pdf](https://github.com/PX4/PX4-user_guide/files/5877343/STM32H743IIK_pinmap.pdf)

Thanks!

@rotorman I have confirmed with the Holybro engineer that one attached here is correct, it was just an typo on the he

[2021-01-27 06:43] #987 closed

[2021-01-27 06:44] hamishwillee commented on #987
Thanks @vincentpoont2 Done in https://github.com/PX4/PX4-user_guide/commit/8d30450b9383085190160bf365400555e8fbcfc8 and https://github.com/PX4/PX4-user_guide/commit/bdf0111e14bf85fa1ea578b09cb5eac36817a5e1 (I missed the name change)

[2021-01-28 05:50] hamishwillee opened #1017 "Add position/velocity PID tuning guide"
This is copied from https://github.com/PX4/PX4-Devguide/issues/808

[2021-01-28 05:59] hamishwillee opened #1018 "Update MC position control diagram with FF"
We need to update the [diagram](https://docs.px4.io/master/en/flight_stack/controller_diagrams.html#multicopter-position-controller) to include the feedforwards, see https://discuss.px4.io/t/position-velocity-control-structure-px4-release-1-10-stable/18027/4

Moved from Devguide issue: https://github.com/PX4/PX4-Devguide/issues/1070

[2021-01-28 06:04] hamishwillee opened #1019 "Jenkins Continuous Integration doc out of date"
[Jenkins CI](https://docs.px4.io/master/en/test_and_ci/jenkins_ci.html) refers to links [run_container.bash](https://github.com/PX4/PX4-Autopilot/blob/master/integrationtests/run_container.bash) and  [run_tests.bash](https://github.com/PX4/PX4-Autopilot/blob/master/integrationtests/run_tests.bash) don't exist anymore.

Document needs to be fixed.

Issue migrated from: https://github.com/PX4/PX4-De

[2021-01-29 12:27] max11gen opened #1022 "Inconsistency in IDE recommendations"
The IDEs that are recommended in the user guide are inconsistent. If you go to [Development-->Toolchain Installation](https://docs.px4.io/master/en/dev_setup/dev_env.html) there is a whole section about [VSCode](https://docs.px4.io/master/en/dev_setup/vscode.html). [Building the Code](https://docs.px4.io/master/en/dev_setup/building_px4.html) on the other hand clearly states that

I assume that th

[2021-01-31 21:56] hamishwillee opened #1025 "Flight modes supported by Boats and Rovers"
Docs sayy nothing about even what modes are supported on boats and rovers - e.g. in
- https://docs.px4.io/master/en/getting_started/flight_modes.html
- https://docs.px4.io/master/en/flight_modes/ (and sub-topics)

General questions we'd like to be able to answer for any vehicle
- what modes are supported by rover and boat? What modes from the set in MC are not?
- Where modes are supported, how are

[2021-01-31 22:40] hamishwillee commented on #1022
Thanks. You're correct. I will tidy this Monday/Tuesday. Vscode is now recommended.

[2021-02-01 20:07] RotorBoy2020 opened #1026 "Offboard Mode, PX4, rospy, plane/rover examples?"
Hello,

Are there any python examples of the offboard control for planes and rovers? I have written my own code based [off this tutorial](https://docs.px4.io/master/en/ros/mavros_offboard.html) for MAVROS quadcopter control, and would be interested in some further examples for non-quad frames.

I was able to follow this [link which shows which messages are possible for each frame.](http://docs.px4

[2021-02-02 22:32] hamishwillee commented on #1026
@RotorBoy2020 The docs have [MAVROS Offboard control example](https://docs.px4.io/master/en/ros/mavros_offboard.html) which is a C example. That points to similar examples in Python here: https://github.com/PX4/PX4-Autopilot/tree/master/integrationtests/python_src/px4_it/mavros

While these are for copter, the way that you integrate with the MAVLink position target messages should be exactly the s

[2021-02-02 22:32] #1026 closed

[2021-02-03 05:50] mengchaoheng opened #1030 "Visual Studio Code IDE"
In Visual Studio Code IDE, I don’t see the jlink (px4_fmu-v5) option. How do I add a debug configuration?

[2021-02-03 13:04] RotorBoy2020 commented on #1026
Ok thank you, I'll post my question on the MAVROS discussion board

I generated the messages the same way that I did for the copter but the plane doesn't fly as expected, so something is amiss

[2021-02-03 22:34] hamishwillee opened #1032 "Missing SITL simulation parameters"
https://docs.px4.io/master/en/simulation/#simulating-failsafes-and-sensor-hardware-failure

The SITL parameters allow you to simulate other common sensor failure cases that are not covered here, including: loss of barometer, gyro and accelerometer, increased GPS noise etc."
These parameters related to GPS noise, loss of barometer etc don't seem to exist? (https://docs.px4.io/master/en/advanced_con

[2021-02-04 02:58] hamishwillee commented on #1030
@mengchaoheng I think it just appears when you have the Firmware open and are connected via JLink (as per http://docs.px4.io/master/en/dev_setup/vscode.html#hardware-debugging).

@dagar can you confirm?

[2021-02-04 07:41] mengchaoheng commented on #1030
In the commit 850d0bc588af79186286652af4c8293daafd2c4c version, after executing make px4_fmu-v5 in the terminal, the launch.json file is not generated in the vscode folder. In the recent commit 3ab4213314c95d24f902dae92535fecd8c629f25, the launch.json file is automatically generated. This version allows me to easily use jlink for hardware debugging in vscode. Now the problem is that I have done a

[2021-02-04 22:20] hamishwillee commented on #1030
@mengchaoheng Can you please raise on the discussion boards or slack. I appreciate this is a docs issue too, but you will likely get faster response there.

[2021-02-05 15:23] aseyfi opened #1035 "Inaccurate SITL Port Number"
Hello,

I was looking at this [SITL block diagram](https://docs.px4.io/master/en/simulation/#sitl-simulation-environment) and it seems PX4 is using ports 14570 and 14580 for its communications, however, when I run PX4 in SITL mode, I see these messages:
[code]
Doesn't it mean PX4 uses 18570 (not 14570) to connect to 14550?

Thank you,
Ahmad

[2021-02-05 15:55] dagar commented on #1030
@mengchaoheng

This is where it's generated in current master.

https://github.com/PX4/PX4-Autopilot/blob/a399bb9894b1d93639b61cf59866695c55806153/platforms/nuttx/CMakeLists.txt#L212-L288

[2021-02-07 21:48] hamishwillee commented on #1030
From Dagar:

[2021-02-10 05:31] hamishwillee commented on #1000
@julianoes Can you comment on this. Getting a similar comment in #1000

[2021-02-10 05:39] hamishwillee commented on #1035
My understand of UDP is that there is a send (remote) port and a listen port.
- PX4 sends traffic for the ground station to port 14550 - so this is where QGC listens for traffic.
- PX4 sends traffic to 14540 for offboard APIs like the MAVSDK or ROS - so this is where MAVSDK would listen for traffic.

In theory system might also start a connection by sending traffic to PX4's receive port, but these

[2021-02-10 06:18] #1030 closed

[2021-02-10 06:19] hamishwillee commented on #1030
Thanks @mengchaoheng for reporting. Fixed in #1046 - should appear in the built version later today.

[2021-02-10 08:54] julianoes commented on #1035
Correct, this has changed. @hamishwillee and you had even reminded that this would require a change in the docs :smirk:.

https://github.com/PX4/PX4-Autopilot/commit/c89766c8aba51212133336499f4c5ee8144b1a6f
https://github.com/PX4/PX4-Autopilot/pull/14178#issuecomment-594340748

[2021-02-10 23:04] hamishwillee commented on #1035
@julianoes Long time ago, and I still don't _fully_ get it. @Jaeyoung-Lim , perhaps you can also comment.

So my understanding is (as above).
- PX4 defines local and remote UDP ports.
- A local port is essentially what PX4 listens for traffic on. A remote port is where it broadcasts to.
- A GCS listens for traffic on the remote port (e.g. HEARTBEAT). The UDP messages it gets include the reply addr

[2021-02-11 03:56] #1019 closed

[2021-02-11 07:07] julianoes commented on #1035
@hamishwillee

Yes, that's all correct except I would phrase this differentely:

A GCS listens for traffic on PX4's remote port (which is the GCS' local port)

I don't think there is a reason. It's just how it came to be. So, we could make it consistent, or we could leave it as is not to break anyone.

Multiple processes can send messages to the same remote port but they can't bind to the same loc

[2021-02-11 21:50] Jaeyoung-Lim commented on #1025
@hamishwillee The answer is actually just manual mode and mission mode.

I am currently adding a attitude / bodyrate controller which will add support for acro mode / stabilized mode

[2021-02-13 11:02] helloE9 opened #1055 "still have error s while building PX4 after clean install UBUNTU"
c/modules/battery_status/module.yaml /home/kpros/PX4-Autopilot/src/modules/mavlink/module.yaml
Failed to import jinja2: No module named 'jinja2'

You may need to install it using:
    pip3 install --user jinja2

ninja: build stopped: subcommand failed.
make: *** [Makefile:219: px4_fmu-v3_default] Error 1

------------------------
so, I did

sudo -H pip3 install --user pyserial empy toml numpy pand

[2021-02-13 11:46] Jaeyoung-Lim commented on #1055
[code]

[2021-02-13 12:07] helloE9 commented on #1055
yes. of course I did it to setup environment for build and checked version of gcc also.

[2021-02-13 13:43] Jaeyoung-Lim commented on #1055
Then you need to check why you cant find the python packages which are installed using the script

[2021-02-17 05:55] hamishwillee commented on #1055
In the past I have seen these kinds of errors on systems that have python2 already installed. If you really started on clean Ubuntu 20.04 then this should work (i just tried it on a fresh install in a VM).

1. Please confirm your ubuntu version
2. Also that you cloned the firmware then from root ran `./Tools/ubunu.sh`.

This must be very irritating for you sorry! Not sure how to help you debug. We

[2021-02-18 00:35] #1000 closed

[2021-02-18 00:35] #1035 closed

[2021-02-18 05:08] #1022 closed

[2021-02-20 00:13] helloE9 commented on #1055
I've installed Ubuntu 20.04 again and ran the 'ubuntu.sh'
The errors all cleared.
There was some mistakes during installation of other python projects.

Thanks for your help!!

[2021-02-20 00:15] helloE9 commented on #1055
Thank you for your help.
It has been cleared.
I tried to uninstall and re-install old python but it's been failed.
so, I've install ubuntu again and all cleared. :)

[2021-02-20 00:15] #1055 closed

[2021-03-03 03:33] mrpollo opened #1087 "Create a select box to switch between releases/branches like the old docs"
There used to be a very nifty feature in the old documentation, on the sidebar we had a select box populated with the latest releases, and it would let you jump between them.

* Fetched a JSON dynamically from GitHub that had a list of versions
* Always default to master
* Make sure the current release/branch is selected by default

[2021-03-04 14:51] cujo612 opened #1091 "Issue with gimbal control on PX4"
Hello,

I am working with a CUAV V5+, an SBGC v3.6 "Extended" gimbal controller, and some gimbal motors. I have been able to control the gimbal motors properly through the simpleBGC app but not through QGroundControl. I am trying to use mavlink commands to move the gimbal in QGC.

I tried the  MAV_CMD_DO_GIMBAL_MANAGER_CONFIGURE command in the mavlink console but it said command not found

I have

[2021-03-07 22:05] hamishwillee commented on #1091
Best to open these queries on Slack or discussion board. Also what version of PX4 you working on?

@julianoes Can you confirm what versions of PX4 the new gimbal manager should work? Just very latest master?

[2021-03-08 11:05] julianoes commented on #1091
@cujo612 as @hamishwillee suggested, it would probably be best to please ask in Slack in the #gimbal channel and we can try to talk this through there.

The questions I have are if your gimbal controller already supports the MAVLink gimbal v2 protocol, and what PX4 version you are using.

[2021-03-08 14:19] cujo612 commented on #1091
Thanks @julianoes and @hamishwillee for the responses. It looks like I need an invite to join the slack.

The firmware is 1.11.0dev and the gimbal controller is up to date on software and should support MAVLink v2 protocal

[2021-03-08 16:37] julianoes commented on #1091
slack.px4.io to get an invite.

MAVLink v2 protocal is not the same as MAVLink gimbal protocol v2. I suspect it is still using v1.

Also see:
https://mavlink.io/en/services/gimbal_v2.html
https://mavlink.io/en/services/gimbal.html

[2021-03-16 22:44] hamishwillee commented on #189
Rattitude removed just prior to release of v1.12: https://github.com/PX4/PX4-user_guide/pull/1106

[2021-03-16 22:44] #189 closed

[2021-03-22 15:43] mrpollo opened #1133 "v1.12 Updates: More intuitive stick feel in Position mode"
We need to update the documentation for position control with the latest changes that are coming to v1.12,

**More intuitive stick feel in Position mode**
* Horizontal stick input mapped to acceleration instead of velocity setpoints
* Removes unexpected tilt changes upon reaching travel speed velocity
* Intuitive shunting e.g. when landing

https://github.com/PX4/PX4-user_guide/pull/1122/files/38b

[2021-03-22 15:58] mrpollo opened #1135 "v1.12 Updates: Multi-EKF enabled by default"
We need to document this feature on our user guide, although this feature has been part of previous releases, it was turned off by default, and was never properly documented

https://github.com/PX4/PX4-Autopilot/pull/14650

https://github.com/PX4/PX4-Autopilot/pull/16079

[2021-03-22 16:03] mrpollo opened #1136 "v1.12 Updates: DNF updated with Gyro FFT"
We need to update the release notes and properly document this feature.

https://github.com/PX4/PX4-Autopilot/pull/16377

[2021-03-22 16:05] mrpollo opened #1137 "v1.12 Updates: Commander Separate out manual control setpoint processing"
We need to update the documentation to include these changes

https://github.com/PX4/PX4-Autopilot/pull/16878

[2021-03-24 05:13] hamishwillee commented on #1137
Hi @MaEtUgR

Looks like changes are:
- [ ] RC override: option to ignore throttle stick
    - ie `COM_RC_OVERRIDE` now has new option to turn off the RC transition to position mode from manual mode.
    - UPdate required for param info in all the auto modes: https://docs.px4.io/master/en/flight_modes/mission.html#mission-parameters , https://docs.px4.io/master/en/flight_modes/takeoff.html#multi-co

[2021-03-24 05:39] hamishwillee commented on #1133
There are two aspect to this; explaining how it is different to before (and why it is more natural), and updating docs to show how it works now.

- [ ] Horizontal stick input mapped to acceleration instead of velocity setpoints

![image](https://user-images.githubusercontent.com/5368500/112260049-5c4a1a80-8cbd-11eb-8df6-2ea8e5b27cc8.png)

So I think that for yaw (spin) and left/right:
- previously

[2021-03-24 06:11] hamishwillee commented on #1136
@mrpollo The wrong PR is referenced above (and in the current release notes). That link is related to RTL.

[2021-03-24 06:54] hamishwillee commented on #1135
FYI the docs we currently have about EKF are here: http://docs.px4.io/master/en/advanced_config/tuning_the_ecl_ekf.html (there are a bunch more minor docs that mention it, - eg. system replay - but nothing useful.

I'd say we minimally need two things.
1. That doc updated, if anything changed w.r.t tuning. That might affect lots of things - e.g. things like optical flow are impacted by EKF tuning

[2021-03-25 03:18] InTereSTingHE opened #1143 "Typo in markdown format in Chinese translation"
In /flight_modes/offboard.md, about the SET_POSITION_TARGET_GLOBAL_INT. It should be like this:

![2021-03-25 11-14-21 的屏幕截图](https://user-images.githubusercontent.com/32561116/112413496-455a0580-8d5b-11eb-9cf8-caaa132e25c4.png)
    But for some reason it's like this in Chinese translation:

![2021-03-25 11-15-21 的屏幕截图](https://user-images.githubusercontent.com/32561116/112413580-6884b500-8d5b-11e

[2021-03-25 05:48] hamishwillee commented on #1143
Thanks for letting me know. Some of this is auto generated by crowdin translation tool. I have tried to fix it, but may not work. I won't find out until it syncs.  I will leave this open though.

[2021-03-25 06:36] #1143 closed

[2021-03-29 07:10] MaEtUgR commented on #1137
@hamishwillee
- COM_RC_OVERRIDE has the option to disable for offbaord or auto modes independently and also to ignore the throttle stick axis. We should add that (if it wasn't already in 1.11).
- Stick trigger based on not being center was also the way we released 1.11 so for the stable release user there's no change.
- The timing and separation comments are pure refactoring. There's no influence

[2021-03-29 07:25] MaEtUgR commented on #1133
@hamishwillee Thanks for your valuable feedback. This gives me a new perspective 👍🏻
- Yaw and Altitude (left stick on mode 2) stayed unchanged. Left, right, forward, backwards or in other word horizontal movement is what the comments are about.
- Tilt is more or less directly related to acceleration. Before if the stick gave 5 m/s it would tilt hard until it reached exactly 5 m/s and then twitch b

[2021-03-29 21:50] hamishwillee commented on #1133
Thanks @MaEtUgR , I'll think about this tomorrow. But my first reaction is that this is helpful.

I think what you're saying is that the tilt of the vehicle now corresponds to the stick position, and that feels more natural. The comparison to a car might be that previously we have a kind of bang-bang where we always accelerate at maximum rate. Now we accelerate at a constant user-set rate - the wh

[2021-03-30 23:38] hamishwillee commented on #1133
OK, I think I get this. The changes for docs are relatively minimal and done in #1158.

Open question is what you mean by "Intuitive shunting e.g. when landing"

I think the release notes are basically OK other than that in the current version.

[2021-03-31 00:52] hamishwillee commented on #1137
Thanks @MaEtUgR

Thanks very much. So in summary, yes, all of this was documented in v1.11. I did some tidy up in https://github.com/PX4/PX4-user_guide/pull/1159 because that wasn't immediately obvious to me.

I'm going to close this because my understanding from above is that there is no docs impact that has not already been captured.

[2021-03-31 00:52] #1137 closed

[2021-03-31 03:48] bys1123 opened #1162 "PMW3901 page didn't mention how to enable this sensor"
https://docs.px4.io/master/en/sensor/pmw3901.html#px4-configuration
This session didn't mention that need to set SENS_EN_PMW3901 to 1

[2021-04-01 00:52] #1162 closed

[2021-04-01 00:53] hamishwillee commented on #1162
Thanks. Fixed. Stone, feel free to just create a PR :-)

[2021-04-06 22:12] TaeronSystems opened #1177 "Error on advanced parameters page"
On the advanced parameters page, the COM_ARM_WO_GPS value definitions are reversed. The values are correct on release "v1.11" but wrong on "Master".

The problem occurred during the commit:
["Update PX4 Firmware metadata Tue Feb 23 00:43:10 UTC 2021"](https://github.com/PX4/PX4-user_guide/blob/4dd371577e772e114b59f19b08f838d743585bb7/en/advanced_config/parameter_reference.md)

[2021-04-06 22:42] hamishwillee commented on #1177
The last change to that value was 5 years ago and the information for v1.11 and master is the same. That said, the docs are wrong because they say two things that are mutually exclusive are true.

![image](https://user-images.githubusercontent.com/5368500/113786220-0fb21500-977c-11eb-92db-8a2ca07366ec.png)

@bkueng The name/description is "allow arming without GPS". I would therefore expect that i

[2021-04-06 23:05] TaeronSystems commented on #1177
The correct values are:
1: Allow arming without GPS
0: Require GPS lock to arm

What I meant in my post was that in v1.11 there is only one available interpretation, and it is correct. As you more precisely point out the information becomes self-conflicting as-of the commit identified. If the data itself were not changed, but perhaps just the way it is being displayed, this may be a more systemic

[2021-04-06 23:12] hamishwillee commented on #1177
Yes, the display changed. Thanks for pointing this out. The information is set in the source code so I have created https://github.com/PX4/PX4-Autopilot/pull/17356 on the assumption that the values are as you have indicated.

[2021-04-06 23:16] TaeronSystems commented on #1177
The error rather does look like it was intentionally (if mistakenly) added on Feb 23, 2021, despite your finding that it hasn't changed in 5 years.

https://github.com/PX4/PX4-user_guide/commit/4dd371577e772e114b59f19b08f838d743585bb7

![image](https://user-images.githubusercontent.com/53489641/113789092-5b6cac00-96f3-11eb-9b6c-f0c65fe533a8.png)

[2021-04-07 03:34] hamishwillee commented on #1177
This has now updated. Thanks again for posting - much appreciated: https://docs.px4.io/master/en/advanced_config/parameter_reference.html#COM_ARM_WO_GPS

[2021-04-07 03:37] #1177 closed

[2021-04-21 02:25] #1133 closed

[2021-04-28 07:10] hamishwillee commented on #1135
@mrpollo Great news. Paul updated these docs - you can link to them here: http://docs.px4.io/master/en/advanced_config/tuning_the_ecl_ekf.html#running-a-single-ekf-instance  (actually it is the following heading on the same page, but I selected this because it makes it clear that SINGLE EKF is still the default.

There is also update to the stuff related to default parameters in http://docs.px4.io

[2021-05-06 01:45] hamishwillee commented on #1135
@mrpollo Closing this as work is done. But I am assuming you are sorting out any cross linking from the release notes.

[2021-05-06 01:45] #1135 closed

[2021-05-10 17:22] pjdewitte opened #1256 "Parameter C++ API documentation"
The documentation at https://docs.px4.io/master/en/advanced/parameters_and_configurations.html#c-api seems outdated. It doesn't match with the module template in the PX4 codebase.

Issues I can see:

- (minor) Is this really needed in the *cpp* file? It seems to be omitted in many modules.

        #include <uORB/topics/parameter_update.h>

- `(...) : ModuleParams(nullptr)` and why you should prov

[2021-05-11 06:50] bkueng commented on #1256
Yes a couple of things need to be updated.

No, just in the header

It's the parent (for the parameter updates), so for the main module, it's null.

Correct, should be changed to the C++ Subscription class.

Best to look at the code: https://github.com/PX4/PX4-Autopilot/blob/master/platforms/common/include/px4_platform_common/param.h#L129

Could maybe be more explicit, but it's here: https://docs.

[2021-05-20 03:00] #1256 closed

[2021-06-06 11:54] Flordsky opened #1320 "中文翻译和英文版图片不对应"
![image](https://user-images.githubusercontent.com/42493042/120923406-f3d9d980-c700-11eb-9af5-9c234701db87.png)
![image](https://user-images.githubusercontent.com/42493042/120923414-005e3200-c701-11eb-91b3-f76c3e71d226.png)

[2021-06-06 22:38] hamishwillee commented on #1320
Can you post the question in English?

[2021-06-10 03:18] hamishwillee commented on #1032
Partially fixed by https://docs.px4.io/master/en/simulation/failsafes.html#sensor-system-failure

Might need a bit more work to make this generic and talk more about the types of failures.

[2021-06-10 04:01] Ionstream commented on #1320
He's trying to say that the code snippet on the mandarin and english docs do not match up.

[2021-06-10 04:13] hamishwillee commented on #1320
Ah, thank you. We use crowdin to translate : http://docs.px4.io/master/zh/contribute/translation.html

Would be very pleased to accept @Flordsky into the crowdin translator group to fix it

[2021-06-10 04:14] Ionstream opened #1334 "cubepilot_cubeorange build target in VSCode fails to configure"
```cubepilot_cubeorange``` target points to ```cubepilot_cubeorange_test```. Workaround is to call ```make cubepilot_cubeorange``` directly in terminal.

[2021-06-10 04:30] Ionstream opened #1335 "Instructions for "Writing Your First Application" outdated"
Followed the instruction here for `px4_simple_app`, ~~but it will not allow you to build a working program. Code as per docs:~~ but was surprised when it decided to build today (EDIT: I was dumb enough to try using `//` instead of `#` in a `CMakeLists.txt` file). Docs require some updating to match code in `PX4-Autopilot:master`
### Code as per docs
[code]

### Code as per src/examples/px4_simple_

[2021-06-10 06:52] hamishwillee commented on #1335
Thank you. Would you like to try do a PR for an update?

[2021-06-10 07:46] Ionstream commented on #1335
Give me some time to sort this out, I'm still trying to wrap my head around the starting code.

[2021-06-10 08:34] #1334 closed

[2021-06-10 15:26] Ionstream commented on #1335
If it's okay with you, I propose stretching out the "Gettting Started" section. The learning curve is rather steep, and there's quite a bit of code for new or beginning developers to take in, especially in the subsections "Writing Your First Application" and "Application/Module Template". I also feel that it's easy to get lost on certain pages, since there are too many categories and bits of infor

[2021-06-10 22:58] hamishwillee commented on #1335
@Ionstream Thanks very much. I mostly work on PX4 stuff on Weds/Thurs, so can't "properly" support you on this until next week.

That said I suggest we do this in two parts. The first one being to just update this document so that it matches the current structure (but "works") and get that PR in. Then we look at restructure as a post process.

With respect to the broader question of the getting st

[2021-06-11 02:30] mrpollo commented on #1320
Can someone please translate the erroneous section and help us fix it? @bys1123

[2021-06-11 03:09] Ionstream commented on #1335
Sure! Acutally, there wasn't anything wrong with the code; I managed to nail it down to the "//" I used for comments, which works for C++ but not for C (noob here, sorry :P). In light of this there isn't any update required per se; apologies about that. I think we can close this issue.

That said, I'll start a PR adding some explanations/comments for the minimal application. I think it will be hel

[2021-06-11 03:47] hamishwillee commented on #1335
Thanks you. Really looking forward to seeing your notes.

[2021-06-11 03:47] #1335 closed

[2021-06-11 05:23] Flordsky commented on #1320
I had joined the group, and I will try to fix it when I was free.

[2021-06-11 05:23] Flordsky commented on #1320
I had joined the group, and I would try to fix it when I was free.

[2021-06-11 08:37] hamishwillee commented on #1320
@Flordsky - when you have time is excellent. Thank you.

[2021-06-23 06:56] hamishwillee commented on #1032
Fixed now.

[2021-06-23 06:56] #1032 closed

[2021-06-23 19:09] aseyfi opened #1376 "External Odometry Instructions Are not Clear"
Hello,

I am using mocap as an external odometry source and the body frame of the mocap markers on my drone do NOT align with the drone body frame. Marker body frame is both rotated and translated in respect to drone body frame. However, I know the transformation between mocap markers body frame and drone body frame.

I was following the instructions in [external position estimation](https://docs.

[2021-06-24 00:38] hamishwillee commented on #1376
@TSC21 Can you comment on this?

To me it looks wrong where we talk about setting the offsets in EKF

Specifically, isn't it just the vision sensor offset that you're interested in - whether it's a MOCAP or other system, this setting is just to map your sensors to the center of gravity. If I'm correct, we'd remove "or MoCap markers" from this string.

[2021-06-24 14:42] aseyfi commented on #1376
@hamishwillee, @TSC21, I don't want to mix various topics here, but the other relevant problem that I see, is in the way that mavros transforms odometry data from a vision system body frame to drone center. Specifically, if there is a translation between vision system body frame (for example camera in a visual odometry system) and drone center (base_link), from rigid body dynamics we know (please

[2021-06-24 22:35] hamishwillee commented on #1376
I have no opinion. Normally this would be a discussion board post, that lead to documentation improvements. If you don't get answer here suggest you post on discuss.px4.io and cross link.

[2021-07-05 15:57] berndpfrommer opened #1388 "need documentation for pixracer pro"
Now that the pixracer pro is supported, some documentation is needed.
I can volunteer to work on it, but have questions regarding the details of what sensors are being used.
According to mRo the board has 3 IMU sensors:
CIM-20602, ICM 20948, and BMI088.
Which one is used by the PX4 stack?

[2021-07-05 16:11] dagar commented on #1388
By default there's a matrix of estimators across every combination of IMU and magnetometer (try `ekf2 status`). The best estimate is used by the system and is what sets the primary IMU for the inner loop, etc. The estimator selector will default to the first IMU unless there's a problem with it.

mRo documentation for reference - https://mrobotics.io/docs/pixracer-pro/

FYI @hamishwillee

[2021-07-11 15:44] DanAbara commented on #725
Hi @hamishwillee , I will like to help with this issue. Please assign to me. I did some checks and the images used in the airframe configs are in https://github.com/PX4/PX4-user_guide/tree/master/assets/airframes/types.

As per @sfuhrer's comments, I've modified the images so that the front propellers turn in opposite directions.

![YMinus2](https://user-images.githubusercontent.com/44237659/12520

[2021-07-11 16:19] Jaeyoung-Lim commented on #725
@DanAbara Shouldn't the colors indicate the turning directions of the prop?

[2021-07-11 16:34] DanAbara commented on #725
You're right. I've modified them.

![YMinus2](https://user-images.githubusercontent.com/44237659/125202940-f6829e00-e26d-11eb-9322-2324f8b03ec9.png) ![YPlus2](https://user-images.githubusercontent.com/44237659/125202941-f71b3480-e26d-11eb-8e07-0eb14f313ffd.png)

@Jaeyoung-Lim so should I add these alternative setups or just replace the existing ones?

[2021-07-11 22:08] hamishwillee commented on #725
I'm back on Wednesday and will think a bit more on this. My initial reaction though is that this may well be a new config. The images would also need to go through to QGC.

[2021-07-12 17:54] DanAbara commented on #725
Alright @hamishwillee, just point me in the right direction when you're back and i'm happy to make the necessary changes.

[2021-07-14 02:22] hamishwillee commented on #725
@DanAbara Awesome. As you already worked out, all you need to do is create a PR that replaces YMinus.svg and YPlus.svg with your (same name) versions in https://github.com/PX4/PX4-user_guide/tree/master/assets/airframes/types
I have assigned to you.

As a separate task, it would be good to also update the images here: https://github.com/mavlink/qgroundcontrol/tree/master/src/AutoPilotPlugins/Commo

[2021-07-14 02:45] hamishwillee commented on #1388
Thanks @berndpfrommer - I've assigned to you. Is the board pixhawk-compatible or manufacturer supported? (It isn't listed in https://px4.io/autopilots/)

Assuming you don't know much about our documentation system, there is a contribution guide here: http://docs.px4.io/master/en/contribute/docs.html. Essentially it's a static site generator that takes markdown input. You can do small changes on gi

[2021-07-14 20:36] DanAbara commented on #725
@hamishwillee, PR created. I've updated the images in QGC as well without the arrows and created a PR for that as well as well.

[2021-07-15 02:20] hamishwillee commented on #725
Thanks. I've reviewed the docs PR. Up to QGC folks to review the other. If nothing happens in a week or so on that ping me.

[2021-07-16 05:42] #725 closed

[2021-07-22 16:47] AlexKlimaj opened #1424 "Update UAVCAN Firmware Update Instructions"
The UAVCAN firmware update instructions are out of date and don't reflect the new system that only requires the binary to be placed on the root of the sd card.

https://docs.px4.io/master/en/uavcan/node_firmware.html

[2021-07-22 22:06] hamishwillee commented on #1424
@AlexKlimaj Can you create a PR please?

[2021-08-05 21:32] squizz617 opened #1458 "Offboard mode - error in the setpoint message description"
Hi.
In `flight_modes/offboard.md`, the description of the `SET_POSITION_TARGET_LOCAL_NED` message states the following when position, velocity, and acceleration inputs are used in combination:

However, looking at the controller diagram (`flight_stack/controller_diagrams.md`), as well as the actual [implementation of the controller](https://github.com/PX4/PX4-Autopilot/blob/master/src/modules/mc_p

[2021-08-06 20:31] AlexKlimaj commented on #1424
@pavel-kirienko Are the instructions still correct for the Zubax products?

[2021-08-07 16:29] pavel-kirienko commented on #1424
@AlexKlimaj Zubax products (or any other UAVCAN devices) are invariant to the internals of the bootloader server. Instructions specific to Sapog are already available at https://github.com/PX4/sapog/ (and they are more up-to-date), I don't think it makes sense to keep them in the PX4 Guide. Maybe the same is true for the Thiemar ESC (does anybody use them?)

[2021-08-11 06:11] hamishwillee commented on #1458
@bresch Can you please comment? Even better update the docs if incorrect :-)

[2021-08-11 23:01] hamishwillee commented on #1458
FYI @bresch is on holiday. Hopefully we'll get an answer on this in a week or so.

[2021-08-18 01:14] rzzuozuo opened #1485 "Mandarin docs and crodin docs do not match up."
Mandarin docs：https://docs.px4.io/master/zh/flight_modes/

Some additional HTML code has been added here：
![1629249051(1)](https://user-images.githubusercontent.com/26183186/129820645-33986115-9291-4a67-bed8-c2dbe04e9dee.png)

![image](https://user-images.githubusercontent.com/26183186/129820787-7de71101-6578-4f40-ae47-fbc22576fe1b.png)

The same issue appears in Korean documents

[2021-08-18 04:37] hamishwillee commented on #1485
Thanks for posting.

This is probably not going to be fixed (at least soon)
- The original source looks like this: https://raw.githubusercontent.com/PX4/PX4-user_guide/master/en/flight_modes/README.md
- The translated source looks like this: https://raw.githubusercontent.com/PX4/PX4-user_guide/master/zh/flight_modes/README.md

Both are valid HTML, but Vuepress is rendering extra stuff in the outpu

[2021-08-18 09:11] rzzuozuo opened #1489 "MPC_LAND_ALT1 has different default values on different pages"
https://docs.px4.io/master/en/advanced_config/parameter_reference.html#MPC_VEL_MANUAL
![image](https://user-images.githubusercontent.com/26183186/129871489-63f320b3-0e11-4eb8-9c5a-797e68ba64ae.png)

https://docs.px4.io/master/en/flight_modes/position_mc.html
![image](https://user-images.githubusercontent.com/26183186/129871615-1917784f-3d2e-46df-912f-e869dc3587f7.png)

[2021-08-19 01:43] rzzuozuo opened #1490 "A wrong mode name in Altitude Mode(mc) -technical summary"
A wrong mode name in Altitude Mode(mc) -technical summary

https://docs.px4.io/master/en/flight_modes/altitude_mc.html
![image](https://user-images.githubusercontent.com/26183186/129993950-d24a23d3-ced6-4f9f-ac06-4e6243d30f4a.png)
There should be RC/Altitude mode or RC mode.

Similar issues in fw.

[2021-08-19 04:51] hamishwillee commented on #1490
No, this is fine. It reads as "RC or manual mode like".

[2021-08-19 04:51] #1490 closed

[2021-08-19 04:57] #1489 closed

[2021-08-19 04:57] hamishwillee commented on #1489
Thank you. Fixed in #1492

[2021-08-19 05:00] hamishwillee commented on #1388
Hi @berndpfrommer ,
Just a reminder. Do you still have bandwidth for this?

[2021-08-19 05:01] hamishwillee commented on #1376
@TSC21 Can you comment on https://github.com/PX4/PX4-user_guide/issues/1376#issuecomment-867246727

[2021-08-19 05:02] hamishwillee commented on #1320
FYI @bys1123  Closing as this is something to deal with in Crowdin.

[2021-08-19 05:02] #1320 closed

[2021-08-19 05:02] hamishwillee commented on #1136
Closing. This release went out.

[2021-08-19 05:02] #1136 closed

[2021-08-19 07:43] rzzuozuo commented on #1490
I see, thank you.

[2021-08-19 08:12] bresch commented on #1458
@squizz617 you're right, the description was not correct due to some copy/pasta mistake. I fixed it in https://github.com/PX4/PX4-user_guide/pull/1494

[2021-08-19 08:27] #1458 closed

[2021-08-19 08:28] hamishwillee commented on #1458
OK, I merged #1494. FYI though, might take a little while to go live. There are some problems with Jenkins (I think). If they don't get fixed I'll push updates live next week.

[2021-08-19 11:23] berndpfrommer commented on #1388
regrettably, the answer is no: I am now living a nomadic life in a van, no longer have access to hardware, and am very busy with other projects. truely sorry!

[2021-08-19 22:57] hamishwillee commented on #1388
Hi @berndpfrommer
No worries. I'm a tiny bit jealous in my lockdown life.
I'm going to close this - there are lots of boards that we might potentially document and there isn't much point keeping issues for specific cases without sponsors.

Happy travels!

[2021-08-19 22:57] #1388 closed

[2021-08-23 09:50] rzzuozuo opened #1500 "A wrong make parameter for Pixhark 4"
https://docs.px4.io/master/en/dev_setup/building_px4.html
There should be v5 for Pixhark 4.
![image](https://user-images.githubusercontent.com/26183186/130427377-aaebdf8d-d19b-478d-9ac2-a8e7b1770135.png)

[2021-08-23 10:04] rzzuozuo opened #1501 "How to translate the left side"
![1629712877(1)](https://user-images.githubusercontent.com/26183186/130428979-9aa1d4ad-6beb-4eea-a35e-faf676ae169c.png)

SUMMARY.md has been translated.
https://github.com/PX4/PX4-user_guide/blob/master/zh/SUMMARY.md
![1629712994(1)](https://user-images.githubusercontent.com/26183186/130429423-76174d99-4b0a-4c49-bed4-e950c22c1a5a.png)

[2021-08-23 22:22] hamishwillee commented on #1501
Same way as everything else - in crowdin. So if you are logged in to Crowdin the file you would translate is this one: https://crowdin.com/translate/px4-user-guide/4/en-zhcn?filter=basic&value=0

Yes, as you note, that is SUMMARY.md.

[2021-08-23 22:25] hamishwillee commented on #1500
Thanks very much. Fixed in https://github.com/PX4/PX4-user_guide/commit/2baa7b04736c5b36aaef26a2c31d290ba63d2d48

[2021-08-23 22:25] #1500 closed

[2021-09-02 05:42] #1501 closed

[2021-09-08 21:15] samchamberlin commented on #1424
@pavel-kirienko is there a link to any documentation that Zubax would want to keep on this page?

[2021-09-09 08:20] pavel-kirienko commented on #1424
There is no such documentation at the moment.

[2021-09-14 22:29] hamishwillee commented on #1424
So the fix would be to  (?)
- note that firmware build process is firmware dependent, and point to each firmware instructions - e.g. Sapog: https://github.com/PX4/sapog/#firmware
- Explain where to put the files and how to start the firmware process
- Delete the rest

Correct?

[2021-09-15 04:30] hamishwillee opened #1551 "Algolia search results not finding consistent or useful results"
Algolia search was pretty good in initial testing.

However in recent times search results have become poor and inconsistent to the point of being unusable. Below is an example. The is was the search for the same term (_parameter_) done 10 minutes apart. The first search found some useful terms - though not the most highly ranked. The second terms didn't find any of the main hits.

The first probl

[2021-09-22 00:52] hamishwillee commented on #1424
@AlexKlimaj ^^^ Is this enough to information for us to move forward on this?

[2021-09-22 03:38] AlexKlimaj commented on #1424
Yep, that should be good!

[2021-09-22 04:43] hamishwillee commented on #1424
Great.  I'll leave it with you guys then.

[2021-09-22 05:10] hamishwillee commented on #1551
The support team at Algolia suggested better results with a sitemap and selectors and provided a turnkey suggestions here: https://github.com/algolia/docsearch-configs/pull/4641. Once that merges let's retest.

Note that the sitemap was generated using https://www.sureoak.com/seo-tools/google-xml-sitemap-generator . IF this version works  OK I might update our toolchain to recreate this automatica

[2021-09-22 23:20] hamishwillee commented on #1551
Results looking much improved. Trying to refine unnecessary duplicates as marked
![image](https://user-images.githubusercontent.com/5368500/134434436-aad3f0cf-61bf-4cd2-a574-76142c499505.png)

[2021-09-30 01:56] hamishwillee commented on #1424
All fixed thanks to @samchamberlin ! Thanks for keeping on top of this .

[2021-09-30 01:56] #1424 closed

[2021-10-04 12:43] sstroobants opened #1570 "uorb top in the px4 console does not show the #LOST column"
I assume this has been removed in an update but it has not been removed from the documentation (https://docs.px4.io/master/en/middleware/uorb.html)

I am also interested to know why it was removed actually. When I am using the ROS2 RTPS bridge and the sensor_combined_listener example for instance, ros2 topic hz /fmu/sensor_combined/out shows around 230Hz, while uorb top shows that it is published

[2021-10-04 14:23] dagar commented on #1570
It was removed from `uorb top` because the numbers often didn't make sense with consumers like logger only grabbing a subset of messages.

Instead we've started monitoring it from the Subscriber side. If there's a particular case where you can't tolerate any gaps then you can check the generation before and after an update.

https://github.com/PX4/PX4-Autopilot/blob/cc4152e10dd9645bfac3bf87b667e6f

[2021-10-04 21:17] hamishwillee commented on #1570
If one of you has an image we can use to update the docs that would be useful? https://docs.px4.io/master/en/middleware/uorb.html#uorb-top-command

[2021-10-05 07:22] sstroobants commented on #1570
@dagar Thanks, that is very clear and makes sense. I will look into checking the generation.
@hamishwillee, I could definitely make a picture, but my terminal does not have the same graphic settings as the one in the docs. An example output for me is as follows:
![uorbtop](https://user-images.githubusercontent.com/14180440/135977890-95e820c0-9e25-416d-a3ad-d7251755c20c.png)
Also in the simulation

[2021-10-16 11:53] bigbellmercy opened #1600 "In 'GPS & Compass' page, Here3 information is not correct"
In the first table on ['GPS & Compass'](https://github.com/PX4/PX4-user_guide/tree/master/en/gps_compass) page,
the following information for Here3 GNSS module should be changed according to [the vendor's manual](https://docs.cubepilot.org/user-guides/here-3/here-3-manual):

1. CubePilot Here3 CAN GNSS GPS (M8N) --> CubePilot Here3 CAN GNSS GPS (**M8P**)
2. In GPS column, M8N --> **M8P**
3. In RTK

[2021-10-17 15:54] cnpcshangbo opened #1601 "This file doesn't exist https://github.com/PX4/PX4-Autopilot/blob/master/boards/px4/sitl/default.cmake"
Hello,
https://docs.px4.io/v1.12/en/modules/hello_sky.html mentioned that we can add `examples/px4_simple_app` to a cmake file, but that cmake file doesn't exist. Maybe this link needs to be updated.
Thanks,
Bo

[2021-10-17 21:36] hamishwillee commented on #1601
@cnpcshangbo Your docs link is v1.12. If you are working on v1.12 then you still need to use cmake, but all the links to the files must be from the v1.12 tree. I will fix that up.

On master, as @dagar says you have to use kconfig.

[2021-10-17 21:53] hamishwillee commented on #1601
@PetervdPerk-NXP Following kconfig is Cmakelist.txt still required?
My understanding is not, so I PR a delete here: https://github.com/PX4/PX4-Autopilot/pull/18450

For the [hellosky tutorial](https://docs.px4.io/master/en/modules/hello_sky.html#minimal-application) list item 3 adds the Cmakelists.txt and item 4 adds the kconfig file.
- I think I need to delete the CmakeLists.txt section rigth?
-

[2021-10-20 03:06] #1600 closed

[2021-10-20 03:15] hamishwillee commented on #1600
Thanks very much. I'm actually not certain PX4 supports RTK over UAVCAN. Am checking on Slack general channel.

[2021-10-28 05:06] hamishwillee opened #1625 "Migrate to gitbook - should we do it? [No]"
## Summary

The reason for considering a migration to gitbook (or any other docs platform) is that it will improve some of: editing, review, administration, maintenance, scalability, or functionality, without significantly reducing any of the other items.

Gitbook is often suggested as a potential replacement to our current system because it has an excellent content editor and good inbuilt search.

[2021-11-28 14:00] JinraeKim opened #1675 "px4-ros2 offboard control with pyrhon example"
There is a cpp script for offboard control example, but it would be also helpful to provide some launchable python codes for the same example as ros2 usually supports both languages.

[2021-11-28 14:25] TSC21 commented on #1675
@JinraeKim thanks for the suggestion. We are open for contributions in this regard from anyone willing to do them. Are you open to contribute in this regard? Thank you

[2021-11-28 14:30] JinraeKim commented on #1675
Thank you for your reply.
I'd like to do so, but I have been trying to learn how to use PX4 and ROS2; due to lack of my knowledge of both PX4 and ROS2, I don't think I can add an appropriate example. I'm really sorry.
If I find a successful example (but it could be a far future), I'll contribute.

[2021-11-28 16:17] Jaeyoung-Lim commented on #1675
@JinraeKim Is there a specific reason you are trying to use python for offboard control?

[2021-11-28 21:41] hamishwillee commented on #1675
I would guess the same reason everyone uses Python when they are starting - it's a much easier language to learn.

[2021-11-28 21:56] Jaeyoung-Lim commented on #1675
@hamishwillee I agree, but more wondering if we should enable beginners use ROS2 + offboard.

Since the use case of ROS2 with PX4 is motivated by removing the performance bottlenecks coming from using mavlink, I was trying to understand why one would use python ROS2 with PX4. IMO, it is safer to use mavsdk-python if the developer is starting out and does not understand what is going on inside PX4

[2021-11-28 22:25] hamishwillee commented on #1675
@Jaeyoung-Lim Howdy! My take on this is that this is a matter of setting expectation - what can you do with each framework and programming language? What is easier for what task? What are the limits? There is no point telling a beginner "go and use MAVSDK" if that isn't going to get the performance they need for the task at hand.

Some questions
- is there "really" a bottleneck using Python with R

[2021-11-28 23:17] JinraeKim commented on #1675
It is because I'm familiar with Python and ROS2, not with C++ (main language is Julia though).

Honestly, there are too many choices to use PX4 so I'm not sure my plan is suitable for my research.
Also, I saw in docs that the developers highly recommend that I start with ROS2 for offboard control.

[2021-11-28 23:22] JinraeKim commented on #1675
A nice summary!
As a beginner of PX4, there are too many routines to perform flight control tasks, although there are less comparison between them.
IMO, there should be more comparison between many approaches in terms of 1) performance, 2) usage pattern, and 3) how easy to learn and Implement.

[2021-11-30 07:33] jean-dupond opened #1679 "SITL with custom simulator"
Hi,

I need to link one homemade simulator in Python with PX4 SITL (later HITL).

My simulator contains full drone and world models. My plan is to receive commands from PX4 and to return the drone state (position, attitude, acceleration, everything needed).

I tried to follow the [dedicated documentation](https://docs.px4.io/master/en/simulation/#simulator-mavlink-api) but despite of my efforts it

[2021-11-30 22:13] hamishwillee commented on #1679
@julianoes Can you advise?

[2021-12-01 01:36] hamishwillee commented on #1675
As above, you need to start with "what you want to achieve" and that will determine the path you take.

I have tried to integrate above summary in https://github.com/PX4/PX4-user_guide/pull/1681 . I personally don't propose to create any Python ROS examples - though if someone wants to that would be great. I consider it a minor bug that we don't.

[2021-12-01 06:45] julianoes commented on #1679
I would try without lockstep first to see if you can get the communication going.
You can read about how to disable lockstep here:
https://docs.px4.io/master/en/simulation/#disable-lockstep-simulation

I would also add printfs in https://github.com/PX4/PX4-Autopilot/blob/master/src/modules/simulator/simulator_mavlink.cpp to check if your messages arrive.

[2021-12-01 08:02] jean-dupond commented on #1679
Hi julianoes,

Didn't mention, but already edited the **simulator_mavlink.ccp** file and yes, messages arrive:

[code]

Output:
[code]

About deactivating the lockstep, I also tested it but like this:
[code]
Then if the PX4 starts and opens a UDP port for monitoring, still nothing arrives through the TCP port.

Outputs from PX4 SITL:
[code]

Output from my Python script:
[code]

and it get stucks.

[2021-12-01 08:30] julianoes commented on #1679
Now you have to - as I usually say - printf your way through.
So now you check if the message received is the correct one, and you check what happens in the system.

Oh, and one more note:

You need to send HIL_SENSOR with the timestamp increasing for quite some time, so that PX4 can initialize the estimator and everything. Only after a while will it start sending actuators back. Once it sends it

[2021-12-01 23:20] hamishwillee commented on #1679
Thanks Julian

Do you think  it would help to move "The system starts with a "freewheeling" period where the simulation sends sensor messages including time and therefore runs PX4 until it has initialized and responds with an actuator message" _as point 1_ and add your note that it might need to happen for some time before the first actuator response is recieved>

My thinking is that it wouldn't h

[2021-12-02 08:19] julianoes commented on #1679
Sure that makes sense.

[2021-12-02 10:28] hamishwillee commented on #1679
Just discussed this offline. My suggestion does not really help.

[2021-12-02 22:00] hamishwillee commented on #1679
I'm going to leave this open for a little while in the hope that @jean-dupond is able to debug, and might be able to find some missing instruction to add. If there is no feedback when I come back to this in a couple of weeks I'll close it.

[2021-12-03 06:47] jean-dupond commented on #1679
Hi all,

Unfortunatelly I'm still stuck at the same point.

(https://docs.px4.io/master/en/simulation/#lockstep-simulation)[https://docs.px4.io/master/en/simulation/#lockstep-simulation]

After connecting to the TCP port I sent in an infinite loop all messages defined in the doc ( **HIL_SENSOR, HIL_GPS, HIL_OPTICAL_FLOW, HIL_STATE_QUATERNION,** and **HIL_RC_INPUTS_RAW** ) with the timestamp increa

[2021-12-03 06:53] julianoes commented on #1679
The estimator and controllers needs to start in order for actuator_outputs to be sent back to the simulator.

I'm not sure what you mean with

Why do you need the communication to the ground station at this point?

[2021-12-03 07:12] jean-dupond commented on #1679
Well, the aim is not to replace QGroundControl, but only the simulator (the world's physics). So still QGroundControl is needed to upload a mission.

For example what `printf` lines shown while launching SITL with flightgear: PX4 won't send any HIL_ACTUATOR_CONTROLS message before a mission is uploaded (from QGroundControl) and the virtual drone starts flying. So I need PX4 to open a UDP port to u

[2021-12-03 07:21] Jaeyoung-Lim commented on #1679
@jean-dupond If you are sending identical sensor values, (particularly accel and gyro) the estimator will assume stale values and not use it

Are you adding noise to your sensor data?

[2021-12-03 08:59] julianoes commented on #1679
@jean-dupond I would look at jmavim or gazebo for reference implementations. I don't know how the flight gear one works, and it's probably without lockstep.

Good point. It might not work without because PX4 thinks it's stale data.

[2021-12-06 15:29] jean-dupond commented on #1679
Hi all,

Thanks for the advises so far.

Fortunately it seems I'm getting closer and closer, but it still not work...

(Trying to give you only the useful data so that my posts is not endless...)

Now I am launching jMAVSim (`make px4_sitl jmavsim`) with the PX4 code full of `printf` lines. I can see how the "conversation" between PX4 and jMAVSim starts and am trying to reproduce something similar

[2021-12-07 05:41] julianoes commented on #1679
So you only send complete sensor noise/garbage to PX4, right? My guess is that the estimator can't do the initial attitude estimation because there is no clear accel and mag orientation. Try sending noise around at least x = 0, y = 0, z = 9.81.

[2021-12-07 07:12] jean-dupond commented on #1679
Hello, thanks @julianoes. I realized I gave oriented acceleration in the **STATE_QUATERNION** message only through the x/y/zacc entries (unit is [mG], meaning a "normal" value at rest would be x=0;y=0;z=1000, right?), but in the **HIL_SENSOR** message I gave indeed 0;0;0.

Else yes, my aim is to make it work first "by hand" before plugging it to the Python simulator I developed (to see what I must

[2021-12-07 08:03] Jaeyoung-Lim commented on #1679
@jean-dupond  Can you confirm that you are also setting the time in HIL_SENSOR message?

[2021-12-07 10:40] PeymanAmirii opened #1690 "Fail safe in offboard mode"
If we set parameter COM_RCL_EXCEPT as 2, the firmware considers offboard mode "in which RC loss is ignored and the failsafe action not triggered". I set the parameter as 2 but I face this  message when I run offboard codes such as the standard example "offboard_velocity_ned.py" and doesn't let the drone fly:

WARN  [commander] Failsafe enabled: No manual control stick input
INFO  [commander] Fails

[2021-12-07 10:53] jean-dupond commented on #1679
Yes, I can, since it is visible in the PX4 output thanks to `printf` lines (cf. previous post).

[2021-12-07 11:32] Jaeyoung-Lim commented on #1679
@jean-dupond then why is your time not changing?

[2021-12-07 12:17] jean-dupond commented on #1679
Good point. Updated the script.

Actually I was sending three messages (2x **HIL_SENSOR** + 1 **HIL_STATE_QUATERNION**) in a loop, and updated the timestamp only once per loop - so 3 messages had same timestamp.

I updated the script to send actual time stamp for each individual message, and added a sleep command to have roughly 4000 us between messages.

But still no improvement . . .

Updated sc

[2021-12-07 13:38] Jaeyoung-Lim commented on #1679
@jean-dupond I would not print HIL_GPS as it doesnt influence anything, but print accel and gyro data with timestamps of HIL_SENSOR

[2021-12-08 02:16] hamishwillee commented on #1690
Did you actually set `COM_RCL_EXCEPT` as 2 (decimal)? If so that is 10 binary, which means that you're disabling the RC exception in hold mode, not offboard mode. If you set to 4 then you will be disabling the RC failsafe for offboard mode.

But the stuff in https://docs.px4.io/master/en/config/safety.html#offboard-loss-failsafe should still trigger fine if you lose the offboard link.

This area i

[2021-12-08 02:16] #1690 closed

[2021-12-08 03:40] Jaeyoung-Lim commented on #604
I am struggling to get the input capture working with a pixhawk4 and it seems like the doc is not fully capturing https://github.com/PX4/PX4-Autopilot/pull/11395

[2021-12-08 07:12] jean-dupond commented on #1679
Hi @Jaeyoung-Lim,

The irregularity of timestamps was not on purpose, simply I was waiting 4000ms between two messages in my script with a sleep command but then it takes time to execute message sending I guess.

I updated the script to have precisely 4000ms between messages and now it fits exactly the output from with jMAVSim (regarding timestamps).

Problem still not solved, but I will try now t

[2021-12-09 10:14] jean-dupond commented on #1679
Hi all,

New `printf` lines in the PX4 code could help solve few things (like some wrong units or wrong value of the `fields_updated` entry in the **HIL_SENSOR** message).

Now PX4 is finally sending **HIL_ACTUATOR_CONTROLS** messages to my Python dummy simulator (big step achieved...).

But then still QGroundControl shows the **"No GPS Lock for Vehicle"** even if GPS data is sent to PX4 (and even

[2021-12-09 10:32] jean-dupond commented on #1679
Hi all,

Just after posting that I made another try and... finally it works :-)

I was sending a `fix_type` of 0 in the **HIL_GPS** messages (which is the initial value sent by jMAVSim).

Putting 3 instead solved the issue (wrongly though it was to activate some optional correction - while a value > 1 is mandatory).

Thanks all for the very useful time and support. Next step for me will be to plug

[2021-12-10 06:55] jean-dupond commented on #1679
Hi all,

I cleaned my scripts and publish them here, so that anyone else can use them as a starting point in the case of developing a own simulator like me.

The archive contains:

- the script intercepting MAVLink messages between jMAVSim and PX4 SITL to see exactly which messages are sent ;
- and the "dummy simulator" script reproducing a similar behavior without jMAVSim.

[px4_sitl_python_sim_t

[2021-12-10 07:53] julianoes commented on #1679
Aaaahha! Thanks for publishing this. I think we should probably try to have some sort of template/example simulator repo for someone to start from, so they wouldn't have to go through the debugging that you just went through.

[2021-12-10 07:53] #1679 closed

[2021-12-15 04:18] saitella opened #1702 "log the IMU and PWM outputs with same timestamp in pixhawk 4 mini"
Hi I am research student ,
actually to find the inertial tensor I need IMU gyro and PWM outputs values with timestamp for this how can I boost the logging data to 400HZ. The log which is generated in QGC is limited to 50HZ but I need these values at which rate the pix hawk generates the signal. so can anyone help to log the IMU gyro and PWM outputs at its maximum rate . so that it is easy for me t

[2021-12-15 04:21] hamishwillee commented on #1702
That's a technical question not a bug report - you should raise this on slack.

That said, I'd be looking at http://docs.px4.io/master/en/dev_log/logging.html#logging and http://docs.px4.io/master/en/advanced_config/parameter_reference.html#SDLOG_PROFILE with bit 8 or 9 set

[2021-12-15 04:21] #1702 closed

[2021-12-15 04:45] saitella commented on #1702
Sorry I know that but to resolve this issue asp I am asking here.
Separately, the list of logged topics can also be customized with a file on the SD card. Create a file etc/logging/logger_topics.txt on the card with a list of topics (For SITL, it's build/px4_sitl_default/tmp/rootfs/fs/microsd/etc/logging/logger_topics.txt):

<topic_name> <interval> <instance>
The <interval> is optional, and if spe

[2021-12-15 04:58] hamishwillee commented on #1702
Not how it works.

[2021-12-15 06:27] hamishwillee commented on #1679
That would be cool. If not, can we summarise the main details/gotchas in a set of bullet points?

[2021-12-17 09:23] danielfhnw opened #1709 "Unclear Fixed-wing PID Tuning Guide"
While going through the [fixed-wing PID tuning guide](https://docs.px4.io/master/en/config_fw/pid_tuning_guide_fixedwing.html#tune-pitch) I was not sure, wheter I need to correctly set the pitch offset (orange box) or set it to zero (blue box).

![image](https://user-images.githubusercontent.com/93777297/146519866-af21f300-e018-42e7-8815-a646f2d029c8.png)

Do I only need to set it to zero while tu

[2021-12-21 22:10] hamishwillee commented on #1709
@danielfhnw Thanks for posting.

Firstly, if your frame allows it, we're recommending [Autotune now](http://docs.px4.io/master/en/config/autotune.html#auto-tuning)

@sfuhrer Can you please answer the question above? In summary, we set these to zero when [tuning the feedforward gain](https://docs.px4.io/master/en/config_fw/pid_tuning_guide_fixedwing.html#gains-to-set-to-zero-2): FW_PR_I, FW_PR_P, F

[2022-01-04 10:42] sfuhrer commented on #1709
No I agree with you, that doesn't make sense, let's remove this line. In my eyes the PSP_OFFSET is independent of the tuning gains, so I would set it first thing and then don't though it again.

[2022-01-04 23:02] hamishwillee commented on #1709
Thanks @sfuhrer - attempt to fix in #1720 but needs careful review, and possibly extra info. Generally better if you make required changes and I review - that reduces chance of me missing your main points.

[2022-01-06 02:38] #1709 closed

[2022-01-14 21:56] tadteo opened #1737 "Example for Mavros Custom message not working"
The example for the creation of [Mavros Custom messages](https://docs.px4.io/master/en/ros/mavros_custom_messages.html) is not working. You can have a clearer understanding about this issue [HERE](
https://discuss.px4.io/t/error-while-data-type-conversion-from-unsigned-char-to-const-mavlink-aka-mavlink-message-type/18951/10).

[2022-01-15 20:01] haotianh9 opened #1739 "Issue about recieving custom MAVLink messages in mavlink.md"
Hello PX4 developers,
    When I'm going through [mavlink.md](https://github.com/PX4/PX4-user_guide/blob/master/en/middleware/mavlink.md), I met an error

`In file included from ../../src/modules/mavlink/mavlink_main.cpp:60:
../../src/modules/mavlink/mavlink_receiver.h:322:70: error: redeclaration of ‘uORB::Publication<ca_trajectory_s> MavlinkReceiver::_flow_pub’
  322 |  uORB::Publication<ca_traj

[2022-01-19 07:53] haotianh9 commented on #1675
@JinraeKim I have tried to write a python version of offboard control, and it behaves the same as the original C++ version.
It is located in the scripts folder and can be ran by
`python3 offboard_control_py.py`
I've already submitted [pull request ](https://github.com/PX4/px4_ros_com/pull/129).

[2022-02-03 00:12] hamishwillee commented on #1739
Thanks for this. Will be looking at the example in the coming weeks.

[2022-02-10 01:50] hamishwillee commented on #1737
@Jaeyoung-Lim @TSC21 Who would be the best person to help update this?

[2022-02-10 05:28] Jaeyoung-Lim commented on #1737
@hamishwillee Thanks for bringing this up, and interestingly I wasn't even aware that such documentation existed :smile:
Currently I am falling a bit short with the availability

@tadteo If you were already trying to use this, would you be able to update the documentation? I can support you if you need any help

[2022-02-15 23:05] hamishwillee commented on #1737
@tadteo Ping. Are you able to help update this a per comment ^^^ ?

[2022-02-16 05:59] #1739 closed

[2022-02-16 06:01] hamishwillee commented on #1739
Thanks @haotianh9
This was fixed as you suggested in #1778. It looks like this was indeed a typo.

FYI I haven't run through the whole example, but this also now talks about the fact that now mavlink is built at PX4 build time.

[2022-02-16 06:46] haotianh9 commented on #1739
Thank you very much for fixing it!

On Tue, Feb 15, 2022 at 10:01 PM Hamish Willee ***@***.***>
wrote:

[2022-02-16 08:12] tadteo commented on #1737
Hi, yes sure I can try.

[2022-02-16 21:34] hamishwillee commented on #1737
Thanks!

[2022-02-27 21:06] jerabaul29 opened #1797 "Detailed explanation of the data fusion / Kalman / attitude and speed filter algorithms as a series of notebooks or webpages?"
First, manny thanks for an awesome project.

I was wondering if it would be possible to also integrate an 'education / vulgarisation/ pedagogical' part to this project, by describing in details the algorithm, dynamic models, physical hypothesis, and implementation used for the attitude / speed Kalman filter implemented by PX4.

I think that there are some really excellent materials to learn Kalman

[2022-03-09 17:17] cujo612 commented on #1091
@evanatherton1 Unfortunately I did not

[2022-03-16 05:02] hamishwillee commented on #1091
Closing. Please post in slack or the discussion boards. We're more than happy to help you there.

[2022-03-16 05:02] #1091 closed

[2022-04-04 12:32] Finwood opened #1833 "External Compass Orientation and CAL_MAG_ROT_AUTO"
_Not sure if this is (also/rather) a PX4 bug, so let's start with Documentation._

During flight operations with a hexacopter running Auterion Enterprise PX4 2.4.2 (which is based on vanilla PX4 1.11.0), we have discovered undocumented behavior regarding magnetometer calibration.

Even with [`CAL_MAG_ROT_AUTO`][] set, the system seems **not** to be able to fully determine the rotation of external

[2022-04-06 04:23] hamishwillee commented on #1833
@bkueng The selectable `yaw`, `roll`, and `pitch` rotations are at intervals at 45 degrees. This bug reports that if you mount the compass at 30 degrees yaw and run auto calibration the calibration will "succeed", auto assigning to (presumably) the nearest selectable orientation. This is a problem because the calibration isn't actually correct and causes fails/warnings.

1. Is it that you are only

[2022-04-06 05:53] bkueng commented on #1833
That's correct. At some point we'll add angle parameters to allow all custom orientations.

Probably, depending on threshold and if the orientation is too close to an existing one. @dagar knows this best.

[2022-04-06 09:15] hamishwillee commented on #1833
Thanks @bkueng I've created a PR for the docs and a bug report against PX4. If you and @Finwood could sanity check the docs one that would be appreciated.

[2022-04-07 07:25] #1833 closed

[2022-04-21 04:41] zlite opened #1849 "Error in tailsitter motor numbering"
On [this page](https://docs.px4.io/v1.12/en/airframes/airframe_reference.html), the VTOL Quad Tailsitter motor numbering is wrong (and doesn't agree with the picture). Should be as shown here

![tailsitter](https://user-images.githubusercontent.com/18071/164373266-71ea91e4-d288-4cfd-9ee1-fd670b212e5f.png)

[2022-04-21 07:10] hamishwillee commented on #1849
Thanks very much - that's been wrong for a very long time. I have put in a fix here: https://github.com/PX4/PX4-Autopilot/pull/19518

[2022-04-22 05:34] #1849 closed

[2022-04-24 00:29] hamishwillee commented on #1849
@zlite I completely agree. When I recently updated these docs http://docs.px4.io/master/en/frames_vtol/tailsitter.html#tailsitter-airframes I originally intended to use the diagrams from airframe reference but they were too confusing.

However I don't have the SVG skills to do this (I tried, but I don't). So I won't be touching it.

[2022-04-24 02:54] zlite commented on #1849
Even something as simple as extending the arm lines for the upper motors, as shown here, would give a clue. (assuming that I have indeed intuited the right orientation)
![Screenshot 2022-04-23 180048](https://user-images.githubusercontent.com/18071/164954131-db4f2f57-ae7b-4549-b09b-6d57e879e9a2.png)

[2022-04-24 21:27] zlite commented on #1849
I confirmed with Roman Bapst, the maintainer, that the above redrawing is correct

[2022-04-28 09:07] hamishwillee commented on #1849
Well, I'm still not good at SVG, but why not https://github.com/PX4/PX4-user_guide/pull/1864

[2022-05-02 11:46] Superbear88 opened #1875 "Beagle Bone Blue Build Error in make"
i stuck on line 397 with following error
Any ideas?
[code]

[2022-05-03 23:43] hamishwillee commented on #1875
@Superbear88 I suggest you post this question on the PX4 slack or discussion boards and link back here. One option might be to remove that sensor but let's see.

[2022-05-04 23:58] hamishwillee opened #1877 "Flying with all magnetometers disabled"
Discussion on slack between Charles Cross and Clay Huff about whether it possible to fly with all magnetometers disabled (and not get all kinds of warnings and errors). The simple answer is yes. You must set  `EKF2_MAG_TYPE=NONE` and `SYS_HAS_MAG=0`.

Charles Cross is going to try document this. Possibly a topic "How to fly without any compass/magnetometer?" that should probably possibly be in the

[2022-05-05 09:04] Superbear88 commented on #1875
@hamishwillee i disabled the drivers temporaly in the board config, so i get another build error...
`[18/434] Building CXX object src/modules/control_allocator/ActuatorEffectiveness/CMakeFiles/ActuatorEffectiveness.dir/ActuatorEffectivenessRotors.cpp.o
FAILED: src/modules/control_allocator/ActuatorEffectiveness/CMakeFiles/ActuatorEffectiveness.dir/ActuatorEffectivenessRotors.cpp.o
/opt/bbblue_tool

[2022-05-11 04:34] hamishwillee commented on #1875
@Superbear88 As I said above, "I suggest you post this question on the PX4 slack or discussion boards and link back here."

I can't help you with these errors, because I don't know how.

[2022-05-26 20:52] daylanc opened #1895 "External Sensors in HITL"
Hello,
Question about using external sensors in HITL. I want to test an autonomous landing sensor in HITL before testing in the field. Is this possible in HITL? In other words, our sensor will command the quadcopter to fly a certain direction given its position in relation to the landing pad. Can this behavior be simulated in HITL?

[2022-05-26 22:28] hamishwillee commented on #1895
Best place to ask this question is in PX4 slack or the discussion boards.

[2022-05-26 22:28] #1895 closed

[2022-05-30 16:31] aoberai opened #1897 "Control Surfaceless VTOL Quad Tailsitters Documentational Error"
https://docs.px4.io/master/en/frames_vtol/tailsitter.html

This page suggests that VTOL Quad Tailsitters without elevons (control surfaceless) are supported by PX4 which is not true; pitch and roll differential thrust don't exist for control surfaceless vtol tailsitters with PX4. For the PX4, elevons are mandatory and the documentation should be updated to show this.

[2022-06-01 01:18] hamishwillee commented on #1897
Thanks @aoberai

@RomanBapst Can you confirm? The specific text here says "Four rotor VTOL with optional elevons. Uses rotors to transition between modes (along with elevons if present)., which was my understanding.

How would you reword?

[2022-06-02 02:24] hamishwillee commented on #1897
Or @sfuhrer Might you be able to comment?

[2022-06-02 06:26] sfuhrer commented on #1897
Maybe "Four rotor VTOL with elevons for pitch/roll control in cruise flight. Uses rotors along with elevons to transition between modes."

[2022-06-02 06:27] sfuhrer commented on #1897
Once we have made the small code adjustments to support elevon-less flights and tested it we can revert to the previous version.

[2022-06-02 06:51] aoberai commented on #1897
Do you know what the timeline on "small code adjustments to support elevon-less flights and tested it we can revert to the previous version" would be? I would be happy to pr it in if people are busy, do you have any advice on where to look?

[2022-06-09 00:44] hamishwillee commented on #1897
Thanks @sfuhrer (et al). Given you're actively looking at working on this I'd rather leave this open for a few weeks and see how it develops than update the docs :-)

[2022-07-06 23:48] hamishwillee opened #1927 "Update style guide with information about Clang"
https://github.com/PX4/PX4-user_guide/pull/1918 updated the [style guide](https://docs.px4.io/master/en/contribute/code.html) to note we use google style guide, and removed instructions that were based around mandating use of astyle.

The style will be mandated by clang - https://github.com/PX4/PX4-Autopilot/pull/19855 but this is not yet ready.

Once that is done, a note needs to be added.

[2022-07-13 00:39] hamishwillee opened #1940 "PX4 v1.13 - Common changes require docs"
This is a tracking bug for the items in http://docs.px4.io/main/en/releases/1.13.html#common - I'm expecting @MaEtUgR to follow these up.

- [ ] Landing, battery, RTL  changes
- [ ] https://github.com/PX4/PX4-Autopilot/pull/19126#issuecomment-1177157318
- [x] #1943 (for https://github.com/PX4/PX4-Autopilot/pull/18589#issuecomment-1177186634 )
- [ ] https://github.com/PX4/PX4-user_guide/pull/1931
-

[2022-07-18 14:17] sumedhreddy90 opened #1960 "E: Unable to locate package ros-galactic-rmw-fastrtps"
From the docs, I did try to follow below installation process to install fastrtps with galactic. But the package was not being fond. Let me know if I am missing something.

"For ROS2 Galactic and above, one has to install the rmw implementation through apt using apt install ros-galactic-rmw-fastrtps, since the default middleware for Galactic and above is CycloneDDS and the FastDDS middleware doesn